{{ define "main" }}
<div id="wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> How it Works
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            A diametric donation is a pledge to donate up to a certain amount of money based on how much money an undesirable candidate raises from undesirable sources.
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Legal Considerations
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Courts have protected the rights of people and corporations to donate money, even anonymously, as a form of speech. Courts have protected laws requiring spending be disclosed. Any group that spends money to help someone get elected must promptly report such expenses. List: 
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Non-linear Influence
                        </div>
                        <div class="panel-body">
                        			
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-globe fa-fw"></i> What's the slope?
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-globe fa-fw"></i> Who's it for?
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                	<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Auxiliary Benefits
                        </div>
                        <div class="panel-body">
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Campaign Finance
                        </div>
                        <div class="panel-body">
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Get Involved
                        </div>
                        <div class="panel-body">
							
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


    </div>
    <!-- /#wrapper -->



{{ end }}
