div.container {
	display: grid;
	--height-container: calc(100vh - 3rem);
	--width-container: calc(100vw - 3rem);
	height: var(--height-container);
	width: var(--width-container);
	max-width: 60rem;
	margin: auto;
	grid-template-columns: 1fr var(--width-center) 1fr;
  	grid-template-rows: calc((var(--height-container) - var(--height-center)) / 2) var(--height-center) calc((var(--height-container) - var(--height-center)) / 2);
}

.title {
	border-radius: var(--border-radius);
	line-height: calc(2 * var(--border-radius));
	height: calc(2 * var(--border-radius));
	text-align: center;
	border: 2px solid black;
  	
  	position: relative;
  	top:-2px;
  	left:-2px;
  	width: calc(100% + 0px);
  	background: white;
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	background-position-x: 50%;
  	color: white;
  	text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 20px rgb(64,64,64);
  	transition: background-size 2s linear;
}


.title {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

.title label i {
	font-size: 1rem;
}

.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
div.container div .title {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
  	grid-template-rows: max-content;
  	justify-content: stretch;

}
div.container div .title .titleLeft {
	grid-column: 1;
	margin-left: 4px;
	min-height: 1px;
	position: relative;
	line-height: calc(2 * var(--border-radius));
	height: calc(2 * var(--border-radius));
	text-align: left;
}
div.container .titleLeft button, div.container .titleLeft select {
	top: -.25rem;
	position: relative;
}
div.container .titleRight i {
	top: -3px;
	position: relative;
}
div.container div .title .titleCenter {
	grid-column: 2;
	position: relative;
	line-height: calc(2 * var(--border-radius));
	height: calc(2 * var(--border-radius));
}
div.container div .title .titleRight {
	grid-column: 3;
	min-height: 1px;
	position: relative;
	line-height: calc(2 * var(--border-radius));
	height: calc(2 * var(--border-radius));
}
div.container div .title .titleRight label{
	margin-right: calc(var(--border-radius) / 3);
	height: calc(2 * var(--border-radius));
	line-height: calc(2 * var(--border-radius));
	float: right;
}

.content-11 {
	grid-row:  1;
	grid-column:  1;
	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
}
.content-31 {
	grid-row:  3;
	grid-column:  1;
  	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
}
.content-22 {
	grid-row:  2;
	grid-column:  2;
}
.content-13 {
	grid-row:  1;
	grid-column:  3;
  	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
}

.content-33 {
	grid-row:  3;
	grid-column:  3;
  	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
}

#radio11-1:checked ~ .content-11 {
	grid-row:  1;
	grid-column:  1;
	z-index: 1;
}
#radio11-2:checked ~ .content-11 {
	grid-row:  1 / 3;
	grid-column:  1 / 3;
	z-index: 2;
}
#radio11-3:checked ~ .content-11 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 3;
}

#radio13-1:checked ~ .content-13 {
	grid-row:  1;
	grid-column:  3;
	z-index: 1;
}
#radio13-2:checked ~ .content-13 {
	grid-row:  1 / 3;
	grid-column:  2 / 4;
	z-index: 2;
}
#radio13-3:checked ~ .content-13 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 3;
}

#radio31-1:checked ~ .content-31 {
	grid-row:  3;
	grid-column:  1;
	z-index: 1;
}
#radio31-2:checked ~ .content-31 {
	grid-row:  2 / 4;
	grid-column:  1 / 3;
	z-index: 2;
}
#radio31-3:checked ~ .content-31 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 3;
}

#radio33-1:checked ~ .content-33 {
	grid-row:  3;
	grid-column:  3;
	z-index: 1;
}
#radio33-2:checked ~ .content-33 {
	grid-row:  2 / 4;
	grid-column:  2 / 4;
	z-index: 2;
}
#radio33-3:checked ~ .content-33 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 3;
}


div:Not(.content-22) > .content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	height: calc(100% - 2 * var(--border-radius));
	padding: calc(.5 * var(--border-radius));
	text-align: center;
}

.content-12 { 
  grid-row:  1;
  grid-column:  2; 
  border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
  	display:none;
}
.content-21 { 
  grid-row:  2;
  grid-column:  1;
  border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
  	display:none;
}
.content-23 { 
  grid-row:  2;
  grid-column:  3; 
  border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
  	display:none;
}
.content-32 { 
  grid-row:  3;
  grid-column:  2; 
  border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	overflow: hidden;
  	background: white;
  	display:none;
}

.content-11 .content {
  	overflow: auto;
}
.content-13 .content {
  	overflow: auto;
}
.content-31 .content {
  	overflow: auto;
}
.content-33 .content {
  	overflow: auto;
}
.content-12 .content {
  	overflow: auto;
}
.content-21 .content {
  	overflow: auto;
}
.content-23 .content {
  	overflow: auto;
}
.content-32 .content {
  	overflow: auto;
}

.titleBG {
	position: absolute;
}

div:Not(.content-22) > .content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	padding: calc(.5 * var(--border-radius));
	height: calc(100% - 3 * var(--border-radius));
}

.logoDiv {
	position: relative;
	left:0rem;
	top: 0rem;
	height: var(--height-center);
}
.centerLink {
	text-align: center;
	position: relative;
	top: 1rem;
}





.formHolder {
	display: grid;
	grid-template-columns: 50% 50%;
  	grid-template-rows: max-content;
  	row-gap: .25rem;
  	column-gap: 1rem;
  	justify-content: center;
  	overflow: visible;
  	width:95%;
  	margin: auto;
}
.buttonHolder {
	display: grid;
	grid-template-columns: auto;
  	grid-template-rows: max-content;
  	justify-content: center;
}
button.submit {
	color: #fff !important;
	text-decoration: none;
	background: #ed3330;
	padding: .5rem 1.5rem;
	border-radius: .5rem;
	border: none;
	transition: all 0.4s ease 0s;
	font-size: 1.25rem;
}
button.submit:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

button.basic {
	color: #fff !important;
	text-decoration: none;
	background: #aa2233;
	padding: .4rem .8rem;
	border-radius: .6rem;
	border: 1px solid black;
	margin: .2rem 0rem;
	transition: all 0.4s ease 0s;
	font-size: 1rem;
}
button.basic:hover {
	background: #662222;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
a.basic {
	color: #fff !important;
	text-decoration: none;
	background: #aa2233;
	padding: .4rem .8rem;
	border-radius: .6rem;
	border: 1px solid black;
	margin: .2rem 0rem;
	transition: all 0.4s ease 0s;
	font-size: 1rem;
	height: 2rem;
	line-height: 2.2rem;
}
a.basic:hover {
	background: #662222;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
body {
	background-image: url("../sepiabg.jpg");
	background-size: auto;
	background-repeat: repeat;
	
}

#footnoteLabel {
	color: blue;
	font-size:125%;
}
#footnoteLabel:hover {
	cursor: pointer;
	text-decoration: underline;
}
#footnote:checked ~ #footnoteDiv {
	position:absolute;
	background: rgb(200,200,200);
	border: 1px solid red;
	z-index:2000;
	display:inline-block;
	font-size:90%;
}
#footnote:Not(:checked) ~ #footnoteDiv {
	display:none;
}

.footnoteLabel {
	color: blue;
}
.footnoteLabel:hover {
	cursor: pointer;
	text-decoration: underline;
}
input.footnote:checked + * + div.footnoteDiv {
	position:absolute;
	background: rgb(200,200,200);
	border: 1px solid red;
	z-index:2000;
	display:inline-block;
	font-size:90%;
}
input.footnote:Not(:checked) + * + div.footnoteDiv {
	display: none;
}

.awesomplete-thumbnail {
	height: 1.5rem;
	float: right;
}
.awesomplete > ul > li {
	height: 1.5rem;
	line-height: 1.5rem;
	width: calc((var(--width-container) - var(--width-center)) / 2 - 8rem);
}
#footer {
	display: none;
}
body {
	overflow-x: hidden;
}
div.container {
	--height-center: 9rem;
	--width-center: 9rem;
}
@media screen and (max-width: 959px) {
	div.container {
		--height-center: 7rem;
		--width-center: 7rem;
	}
}
@media screen and (max-width: 719px) {
	div.container {
		--height-container: calc(100vh - 2rem);
		--width-container: calc(100vw - 2rem);
		height: unset;
		width: var(--width-container);
		max-width: 60rem;
		margin: auto;
		overflow-y: visible;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: var(--height-center) 15rem 15rem auto;
		grid-row-gap: .5rem;
		grid-column-gap: .5rem;
	}
	.content-11 {
		grid-row:  2;
		grid-column:  1;
	}
	.content-31 {
		grid-row:  3;
		grid-column:  1;
	}
	.content-22 {
		grid-row:  1;
		grid-column:  1 / 3;
	}
	.content-13 {
		grid-row:  2;
		grid-column:  2;
	}

	.content-33 {
		grid-row:  3;
		grid-column:  2;
	}

	#radio11-1:checked ~ .content-11 {
		grid-row:  2;
		grid-column:  1;
	}
	#radio11-2:checked ~ .content-11 {
		grid-row:  2;
		grid-column:  1 / 3;
	}
	#radio11-3:checked ~ .content-11 {
		grid-row:  2 / 5;
		grid-column:  1 / 3;
	}

	#radio13-1:checked ~ .content-13 {
		grid-row:  2;
		grid-column:  2;
	}
	#radio13-2:checked ~ .content-13 {
		grid-row: 2;
		grid-column:  1 / 3;
	}
	#radio13-3:checked ~ .content-13 {
		grid-row:  2 / 5;
		grid-column:  1 / 3;
	}

	#radio31-1:checked ~ .content-31 {
		grid-row:  3;
		grid-column:  1;
	}
	#radio31-2:checked ~ .content-31 {
		grid-row:  3;
		grid-column:  1 / 3;
	}
	#radio31-3:checked ~ .content-31 {
		grid-row:  3 / 5;
		grid-column:  1 / 3;
	}

	#radio33-1:checked ~ .content-33 {
		grid-row:  3;
		grid-column:  1;
	}
	#radio33-2:checked ~ .content-33 {
		grid-row:  3;
		grid-column:  1 / 3;
	}
	#radio33-3:checked ~ .content-33 {
		grid-row:  3 / 5;
		grid-column:  1 / 3;
	}
	span.logoText {
		width:calc(2 * var(--width-center));
		left:calc(50% - var(--width-center));
		top:2rem;
		text-align: center;
	}
	div.logoDiv img {
		width:var(--width-center);
		left:unset;
		top:0rem;
		position:relative;
	}

	.title label i {
		font-size: .8rem;
	}
	#footer {
		display: block;
	}
	body {
		overflow-x: hidden;
	}
}
@media screen and (max-width: 599px) {
	div.container {
		--border-radius: 1rem;
		--height-container: calc(100vh - 2rem);
		--width-container: calc(100vw - 2rem);
		height: unset;
		width: var(--width-container);
		max-width: 60rem;
		margin: auto;
		overflow-y: visible;
		grid-template-columns: 1fr;
		grid-template-rows: var(--height-center) 13rem 13rem 13rem 13rem auto;
		grid-row-gap: .5rem;
	}
	.content-11 {
		grid-row:  2;
		grid-column:  1;
	}
	.content-31 {
		grid-row:  4;
		grid-column:  1;
	}
	.content-22 {
		grid-row:  1;
		grid-column:  1;
	}
	.content-13 {
		grid-row:  3;
		grid-column:  1;
	}

	.content-33 {
		grid-row:  5;
		grid-column:  1;
	}

	#radio11-1:checked ~ .content-11 {
		grid-row:  2;
		grid-column:  1;
	}
	#radio11-2:checked ~ .content-11 {
		grid-row:  2 / 6;
		grid-column:  1 / 2;
	}
	#radio11-3:checked ~ .content-11 {
		grid-row:  2 / 6;
		grid-column:  1 / 2;
	}

	#radio13-1:checked ~ .content-13 {
		grid-row:  3;
		grid-column:  1;
	}
	#radio13-2:checked ~ .content-13 {
		grid-row: 3 / 7;
		grid-column:  1 / 2;
	}
	#radio13-3:checked ~ .content-13 {
		grid-row:  3 / 7;
		grid-column:  1 / 2;
	}

	#radio31-1:checked ~ .content-31 {
		grid-row:  4;
		grid-column:  1;
	}
	#radio31-2:checked ~ .content-31 {
		grid-row:  4 / 7;
		grid-column:  1 / 2;
	}
	#radio31-3:checked ~ .content-31 {
		grid-row:  4 / 7;
		grid-column:  1 / 2;
	}

	#radio33-1:checked ~ .content-33 {
		grid-row:  5;
		grid-column:  1;
	}
	#radio33-2:checked ~ .content-33 {
		grid-row:  5 / 7;
		grid-column:  1 / 2;
	}
	#radio33-3:checked ~ .content-33 {
		grid-row:  5 / 7;
		grid-column:  1 / 2;
	}
	span.logoText {
		width:calc(2 * var(--width-center));
		left:calc(50% - var(--width-center));
		top:2rem;
		text-align: center;
	}
	div.logoDiv img {
		width:var(--width-center);
		left:unset;
		top:0rem;
		position:relative;
	}

	.title label i {
		font-size: .8rem;
	}
	#footer {
		display: block;
	}
	body {
		overflow-x: auto;
	}
}