
:root {
	--width-block: 10px;
    --shift-cover-puzzle: calc(-40px - var(--width-block)*9); 
    --left-margin: 0px;
    --color-bg1: rgba(180,180,180,.75);
    --color-text1: black;
    --sudoku-top: calc(86px + var(--width-block)*2); 
    --sudoku-left: 0px;
    --turns-taken: 0px;
}
@media screen and (min-width: 320px) and (min-height: 320px) {
	:root {
    	--width-block: 20px;
    }
}
@media screen and (min-width: 480px) and (min-height: 480px) {
	:root {
    	--width-block: 30px;
    }
}
@media screen and (min-width: 720px) and (min-height: 720px) {
	:root {
    	--width-block: 40px;
    }
}
@media screen and (min-width: 1080px) and (min-height: 1080px) {
	:root {
    	--width-block: 50px;
    }
}

.radioBD:active + label{
	border: 1px solid blue;
	background: rgba(100,100,255,1);
}
.radioBU:active + label{
	border: 1px solid blue;
	background: rgba(255,255,255,1);
}

	
	.points1:checked + .check1 + .gcheck1{
		z-index: 5000;
		opacity: 1;
	}
	.points1:active + .check1 img{
		opacity: 1;
	}
	

	
	.points2:checked + .check2 + .gcheck2{
		z-index: 5000;
		opacity: 1;
	}
	.points2:active + .check2 img{
		opacity: 1;
	}
	

	
	.points3:checked + .check3 + .gcheck3{
		z-index: 5000;
		opacity: 1;
	}
	.points3:active + .check3 img{
		opacity: 1;
	}
	

	
	.points4:checked + .check4 + .gcheck4{
		z-index: 5000;
		opacity: 1;
	}
	.points4:active + .check4 img{
		opacity: 1;
	}
	

	
	.points5:checked + .check5 + .gcheck5{
		z-index: 5000;
		opacity: 1;
	}
	.points5:active + .check5 img{
		opacity: 1;
	}
	

	
	.points6:checked + .check6 + .gcheck6{
		z-index: 5000;
		opacity: 1;
	}
	.points6:active + .check6 img{
		opacity: 1;
	}
	

	
	.points7:checked + .check7 + .gcheck7{
		z-index: 5000;
		opacity: 1;
	}
	.points7:active + .check7 img{
		opacity: 1;
	}
	

	
	.points8:checked + .check8 + .gcheck8{
		z-index: 5000;
		opacity: 1;
	}
	.points8:active + .check8 img{
		opacity: 1;
	}
	

	
	.points9:checked + .check9 + .gcheck9{
		z-index: 5000;
		opacity: 1;
	}
	.points9:active + .check9 img{
		opacity: 1;
	}
	


.mainDiv {
	position: relative;
	left: 0px;
	height: calc(var(--sudoku-top) + 9 * var(--width-block) + 100px);
	overflow: hidden;
}
@keyframes example {
  0%   {transform: rotate(0deg);}
  10%  {transform: rotate(36deg);}
  20%  {transform: rotate(72deg);}
  30% {transform: rotate(108deg);}
  40%  {transform: rotate(144deg);}
  50%  {transform: rotate(180deg);}
  60% {transform: rotate(216deg);}
  70%  {transform: rotate(252deg);}
  80%  {transform: rotate(288deg);}
  90% {transform: rotate(324deg);}
  100% {transform: rotate(360deg);}
}


input {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	

}
.coverSudoku {
	position: absolute;
	left:  var(--sudoku-left);
	top:  var(--sudoku-top);
	width: calc(9 * var(--width-block) + 40px);
	height: calc(9 * var(--width-block) + 40px);
	background-color: rgba(0,0,0,0);
	z-index: 99;
}
.col1 {border-right: 1px solid black; border-left: 8px solid black; position: absolute; left: var(--sudoku-left);}
.col2 {border-right: 1px solid black; border-left: 1px solid black; position: absolute; left: calc(var(--width-block) + var(--sudoku-left) + 9px);}
.col3 {border-right: 3px solid black; border-left: 1px solid black; position: absolute; left: calc(2 * var(--width-block) + var(--sudoku-left) + 11px);}
.col4 {border-right: 1px solid black; border-left: 3px solid black; position: absolute; left: calc(3 * var(--width-block) + var(--sudoku-left) + 15px);}
.col5 {border-right: 1px solid black; border-left: 1px solid black; position: absolute; left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px);}
.col6 {border-right: 3px solid black; border-left: 1px solid black; position: absolute; left: calc(5 * var(--width-block) + var(--sudoku-left) + 21px);}
.col7 {border-right: 1px solid black; border-left: 3px solid black; position: absolute; left: calc(6 * var(--width-block) + var(--sudoku-left) + 25px);}
.col8 {border-right: 1px solid black; border-left: 1px solid black; position: absolute; left: calc(7 * var(--width-block) + var(--sudoku-left) + 29px);}
.col9 {border-right: 8px solid black; border-left: 1px solid black; position: absolute; left: calc(8 * var(--width-block) + var(--sudoku-left) + 31px);}

.row1 {border-top: 8px solid black;border-bottom: 1px solid black; top: var(--sudoku-top);}
.row2 {border-top: 1px solid black;border-bottom: 1px solid black; top: calc(var(--width-block) + var(--sudoku-top) + 9px);}
.row3 {border-top: 1px solid black;border-bottom: 3px solid black; top: calc(2 * var(--width-block) + var(--sudoku-top) + 11px);}
.row4 {border-top: 3px solid black;border-bottom: 1px solid black; top: calc(3 * var(--width-block) + var(--sudoku-top) + 15px);}
.row5 {border-top: 1px solid black;border-bottom: 1px solid black; top: calc(4 * var(--width-block) + var(--sudoku-top) + 19px);}
.row6 {border-top: 1px solid black;border-bottom: 3px solid black; top: calc(5 * var(--width-block) + var(--sudoku-top) + 21px);}
.row7 {border-top: 3px solid black;border-bottom: 1px solid black; top: calc(6 * var(--width-block) + var(--sudoku-top) + 25px);}
.row8 {border-top: 1px solid black;border-bottom: 1px solid black; top: calc(7 * var(--width-block) + var(--sudoku-top) + 29px);}
.row9 {border-top: 1px solid black;border-bottom: 8px solid black; top: calc(8 * var(--width-block) + var(--sudoku-top) + 31px);}

.col1.ccheck, .col9.ccheck {width: calc(var(--width-block) + 9px);}
.col2.ccheck, .col5.ccheck, .col8.ccheck {width: calc(var(--width-block) + 2px);}
.col3.ccheck, .col4.ccheck, .col6.ccheck, .col7.ccheck {width: calc(var(--width-block) + 4px);}
.row1.rcheck, .row9.rcheck {height: calc(var(--width-block) + 9px);}
.row2.rcheck, .row5.rcheck, .row8.rcheck {height: calc(var(--width-block) + 2px);}
.row3.rcheck, .row4.rcheck, .row6.rcheck, .row7.rcheck {height: calc(var(--width-block) + 4px);}
.ccheck {height: calc(9 * var(--width-block) + 40px); background: rgba(100,100,0,0); z-index: -1; top: var(--sudoku-top); border: none; position: absolute;}
.rcheck {width: calc(9 * var(--width-block) + 40px); background: rgba(100,0,100,0); z-index: -1; left: var(--sudoku-left); border: none; position: absolute;}

.block11 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 15px); top: var(--sudoku-top); left: var(--sudoku-left); position: absolute;}
.block12 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 10px); top: calc(3 * var(--width-block) + var(--sudoku-top) + 15px); left: var(--sudoku-left); position: absolute;}
.block13 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 15px); top: calc(6 * var(--width-block) + var(--sudoku-top) + 25px); left: var(--sudoku-left); position: absolute;}
.block21 {width: calc(3 * var(--width-block) + 10px); height: calc(3 * var(--width-block) + 15px); top: var(--sudoku-top); left: calc(3 * var(--width-block) + var(--sudoku-left) + 15px); position: absolute;}
.block22 {width: calc(3 * var(--width-block) + 10px); height: calc(3 * var(--width-block) + 10px); top: calc(3 * var(--width-block) + var(--sudoku-top) + 15px); left: calc(3 * var(--width-block) + var(--sudoku-left) + 15px); position: absolute;}
.block23 {width: calc(3 * var(--width-block) + 10px); height: calc(3 * var(--width-block) + 15px); top: calc(6 * var(--width-block) + var(--sudoku-top) + 25px); left: calc(3 * var(--width-block) + var(--sudoku-left) + 15px); position: absolute;}
.block31 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 15px); top: var(--sudoku-top); left: calc(6 * var(--width-block) + var(--sudoku-left) + 25px); position: absolute;}
.block32 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 10px); top: calc(3 * var(--width-block) + var(--sudoku-top) + 15px); left: calc(6 * var(--width-block) + var(--sudoku-left) + 25px); position: absolute;}
.block33 {width: calc(3 * var(--width-block) + 15px); height: calc(3 * var(--width-block) + 15px); top: calc(6 * var(--width-block) + var(--sudoku-top) + 25px); left: calc(6 * var(--width-block) + var(--sudoku-left) + 25px); position: absolute;}

.bcheck {background: rgba(0,100,100,0); z-index: -1; position: absolute;}

.cmarkD, .cmarkU {
	border: 1px solid;
	position: absolute;
	top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
	width: var(--width-block);
	height:var(--width-block);
	text-align: center;
	line-height: var(--width-block);
	font-size: var(--width-block);
	z-index: 1;
	background: rgba(255,255,255,1);
}

	.cmarkD1, .cmarkU1 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -4 * var(--width-block));
	}

	.cmarkD2, .cmarkU2 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -3 * var(--width-block));
	}

	.cmarkD3, .cmarkU3 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -2 * var(--width-block));
	}

	.cmarkD4, .cmarkU4 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -1 * var(--width-block));
	}

	.cmarkD5, .cmarkU5 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 0 * var(--width-block));
	}

	.cmarkD6, .cmarkU6 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 1 * var(--width-block));
	}

	.cmarkD7, .cmarkU7 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 2 * var(--width-block));
	}

	.cmarkD8, .cmarkU8 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 3 * var(--width-block));
	}

	.cmarkD9, .cmarkU9 {
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 4 * var(--width-block));
	}


.cmarkU {
	border: 1px solid blue;
	background: rgba(100,100,255,1);
}
.cmarkimg {
	width: var(--width-block);
}



.itemSpan {
	background-color: rgba(0,0,0,0);
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: calc(9 * var(--width-block) + 40px);
}

.foodSpan, .waterSpan, .feedSpan, .poopSpan, .fireSpan, .clothesSpan {
	background-color: rgba(0,0,0,0);
	pointer-events: none;
	height: calc(9 * var(--width-block) + 40px);
	z-index: 5000000;
	display: block;
	position: absolute;
	top: var(--sudoku-top);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.endImgSpan {
	background-color: rgba(0,0,0,0);
	pointer-events: all;
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	height: calc(9 * var(--width-block) + 40px);
	width: calc(9 * var(--width-block) + 40px);
	float: right;
}

#foodSpan {	
	--turns-taken: 0px;	
	left: calc( var(--sudoku-left) + 201px);	
	width: calc(9 * var(--width-block) + 40px + -201px);	
}

#foodSpan span:Not(.endImgSpan) {
	width: 0px;
}




#clothesSpan span:Not(.endImgSpan) { width: 0px;}


#dataTable {
	background-color: rgba(255,255,255,1);
	top: 5px;
	left: var(--sudoku-left);
	position: absolute;
	width: calc(9 * var(--width-block) + 41px);
	text-align: center;
}
#newData {
	background-color: rgba(255,255,255,1);
	position: relative;

	z-index: 100;
	text-align: center;
}
#oldData {
	background-color: rgba(255,255,255,1);
	position: absolute;
	top: 27px;
	z-index: 101;
	text-align: center;
}
#changeData {
	background-color: rgba(0,0,0,.25);

	position: relative;
	text-align: center;
	
}
#emojiData {
	background-color: rgba(0,0,0,.05);
	position: relative;
	text-align: center;
	
}
table {
	border-collapse:collapse;
}
tr {
	background-color: rgba(0,255,255,1);
	height: 25px;
}
td.firstSix {
	width: calc(1.5 * var(--width-block));
	height: 25px;
}
td.peopleTD {
	width: calc(25px);
	height: 25px;
}


	.pointsBoard1::after {content: counter(points1);}
	.pointsBoard1c::after {content: counter(change1);}
	.pointsBoard1o::after {content: counter(old1);}

	.pointsBoard2::after {content: counter(points2);}
	.pointsBoard2c::after {content: counter(change2);}
	.pointsBoard2o::after {content: counter(old2);}

	.pointsBoard3::after {content: counter(points3);}
	.pointsBoard3c::after {content: counter(change3);}
	.pointsBoard3o::after {content: counter(old3);}

	.pointsBoard4::after {content: counter(points4);}
	.pointsBoard4c::after {content: counter(change4);}
	.pointsBoard4o::after {content: counter(old4);}

	.pointsBoard5::after {content: counter(points5);}
	.pointsBoard5c::after {content: counter(change5);}
	.pointsBoard5o::after {content: counter(old5);}

	.pointsBoard6::after {content: counter(points6);}
	.pointsBoard6c::after {content: counter(change6);}
	.pointsBoard6o::after {content: counter(old6);}

	.pointsBoard7::after {content: counter(points7);}
	.pointsBoard7c::after {content: counter(change7);}
	.pointsBoard7o::after {content: counter(old7);}




#winout {
	
}
#winmessage {
	width: calc(9 * var(--width-block) + 41px);
	background-color: rgba(200,200,200,1);
	display: inline-block;
	top: calc(var(--sudoku-top) + 9 * var(--width-block) + 50px);
	left: var(--sudoku-left);
	position: absolute;
	overflow: hidden;
	height: 20px;
}
.winLabel {
	display: inline-block;
	text-align: center;
	width: var(--width-block);
	height: var(--width-block);
	line-height: var(--width-block);
	font-size: var(--width-block);
	color: white;
	padding: 0px;
	margin: 0px;
	z-index: 20000;
	background-color: rgba(255,255,255,1);
	
}
.winLabel img {
	transform: rotate(0deg);
	animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.winLabel1 img {
    animation-duration: 3s;
}
#winSudoku1 {
	display: none;
}

.winLabel2 img {
    animation-duration: 3s;
}
#winSudoku2 {
	display: none;
}

.winLabel3 img {
    animation-duration: 4s;
}
#winSudoku3 {
	display: none;
}

.winLabel4 img {
    animation-duration: 4s;
}
#winSudoku4 {
	display: none;
}

.winLabel5 img {
    animation-duration: 4s;
}
#winSudoku5 {
	display: none;
}

.winLabel6 img {
    animation-duration: 5s;
}
#winSudoku6 {
	display: none;
}

.winLabel7 img {
    animation-duration: 5s;
}
#winSudoku7 {
	display: none;
}

.winLabel8 img {
    animation-duration: 5s;
}
#winSudoku8 {
	display: none;
}

.winLabel9 img {
    animation-duration: 6s;
}
#winSudoku9 {
	display: none;
}


#winSudoku {
	display: inline-block;
}


	
	
	.check1{
		z-index: -1;
	}
	.check1 img{
		opacity: 0;
	}
	.check1, .gcheck1 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck1 { 
		opacity: 0;
	}
	
	.blackout1 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -4 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points1:checked + .check1{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check2{
		z-index: -1;
	}
	.check2 img{
		opacity: 0;
	}
	.check2, .gcheck2 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck2 { 
		opacity: 0;
	}
	
	.blackout2 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -3 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points2:checked + .check2{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check3{
		z-index: -1;
	}
	.check3 img{
		opacity: 0;
	}
	.check3, .gcheck3 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck3 { 
		opacity: 0;
	}
	
	.blackout3 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -2 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points3:checked + .check3{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check4{
		z-index: -1;
	}
	.check4 img{
		opacity: 0;
	}
	.check4, .gcheck4 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck4 { 
		opacity: 0;
	}
	
	.blackout4 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + -1 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points4:checked + .check4{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check5{
		z-index: -1;
	}
	.check5 img{
		opacity: 0;
	}
	.check5, .gcheck5 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck5 { 
		opacity: 0;
	}
	
	.blackout5 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 0 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points5:checked + .check5{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check6{
		z-index: -1;
	}
	.check6 img{
		opacity: 0;
	}
	.check6, .gcheck6 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck6 { 
		opacity: 0;
	}
	
	.blackout6 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 1 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points6:checked + .check6{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check7{
		z-index: -1;
	}
	.check7 img{
		opacity: 0;
	}
	.check7, .gcheck7 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck7 { 
		opacity: 0;
	}
	
	.blackout7 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 2 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points7:checked + .check7{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check8{
		z-index: -1;
	}
	.check8 img{
		opacity: 0;
	}
	.check8, .gcheck8 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck8 { 
		opacity: 0;
	}
	
	.blackout8 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 3 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points8:checked + .check8{
		z-index: 500;
		color: black;
	}

	
	
	

	
	
	.check9{
		z-index: -1;
	}
	.check9 img{
		opacity: 0;
	}
	.check9, .gcheck9 {
		background: white;
		display: inline-block;
		text-align: center;
		width: var(--width-block);
		height: var(--width-block);
		line-height: var(--width-block);
		font-size: var(--width-block);
		color: white;
		padding: 0px;
		margin: 0px;
	}
	.gcheck9 { 
		opacity: 0;
	}
	
	.blackout9 {
		border: 1px solid;
		position: absolute;
		width: var(--width-block);
		height: var(--width-block);
		background: gray;
		top: calc( var(--sudoku-top) - 1.5 * var(--width-block));
		left: calc(4 * var(--width-block) + var(--sudoku-left) + 19px + 4 * var(--width-block));
		text-align: center;
		line-height: var(--width-block);
		font-size: var(--width-block);
		z-index: 6000;
		opacity: 0;
		pointer-events: none;
		
	}
	
	.points9:checked + .check9{
		z-index: 500;
		color: black;
	}