{% extends "templates/4by4.html" %}

{% macro horizontalCover(top,right,zIndex,leftRight,frac) %}
{% if leftRight == 0 %}
<div class="hCoverDiv" style="bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); z-index: {{ zIndex  }};">
	<div class="hCover hCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
	{% for fpn in range(1,5) %}<div class="hCover hCover1" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="hCover hCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(8,12) %}<div class="hCover hCover4" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}

</div>
{% else %}
<div class="hCoverDiv" style="flex-wrap: wrap-reverse; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex  }};">
	<div class="hCover hCover2" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
	{% for fpn in range(1,5) %}<div class="hCover hCover1" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="hCover hCover2" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(8,12) %}<div class="hCover hCover4" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}

</div>
{% endif %}
{% endmacro %}		
{% macro horizontalCoverF(top,right,zIndex,leftRight,frac) %}
{% if leftRight == 0 %}
<div class="hCoverFDiv" style="bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); z-index: {{ zIndex  }};">
	<div class="hCoverFSubDiv">
		<div class="hCover hCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
		{% for fpn in range(1,5) %}<div class="hCover hCover1" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
		{% for fpn in range(5,8) %}<div class="hCover hCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
		{% for fpn in range(8,12) %}<div class="hCover hCover4" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}

	</div>
</div>
{% else %}
<div class="hCoverFDiv" style="top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex  }};">
	<div class="hCoverFSubDiv" style="flex-wrap: wrap-reverse;">
		<div class="hCover hCover2" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
		{% for fpn in range(1,5) %}<div class="hCover hCover1" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
		{% for fpn in range(5,8) %}<div class="hCover hCover2" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
		{% for fpn in range(8,12) %}<div class="hCover hCover4" style="margin-bottom: 0px; margin-top: calc(8 * var(--block)); backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}
	</div>
</div>
{% endif %}
{% endmacro %}


{% macro verticalCover(top,right,zIndex,leftRight,frac) %}

{% if leftRight == 0 %}
<div class="vCoverDiv" style="top: calc((52 + {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); z-index: {{ zIndex }};">
	<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
	{% for fpn in range(1,5) %}<div class="vCover vCover1" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(8,12) %}<div class="vCover vCover4" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}
</div>
{% elif top != 4 or (zIndex % 100) != 17 %}
<div class="vCoverDiv" style="flex-direction: column; bottom: calc(100% + (1 + {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex }};">
	<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
	{% for fpn in range(1,5) %}<div class="vCover vCover1" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(8,12) %}<div class="vCover vCover4" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}
</div>
{% else %}
<div class="vCoverDivI" style="flex-direction: column; bottom: calc(100% + (1 + {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex }};">
	<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{2}}{% else %}{{ 0.5}}{% endif %});"></div>
	{% for fpn in range(1,5) %}<div class="vCover vCover1" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (0.5 + fpn*0.25)}}{% else %}{{ 0.5 + fpn*0.25}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="vCover vCover2" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-0.5 + fpn*0.5)}}{% else %}{{ -0.5 + fpn*0.5}}{% endif %});"></div>{% endfor %}
	{% for fpn in range(8,12) %}<div class="vCover vCover4" style="backdrop-filter: contrast({% if frac > 0 %}{{1.0 / (-4.0 + fpn)}}{% else %}{{ -4.0 + fpn}}{% endif %});"></div>{% endfor %}
</div>

{% endif %}
{% endmacro %}	

{% macro 2by2(id1,id2) %}


<div class="topBottom">
	<div class="vresize">

		<div class="verticalGrow">
			{% for righti in range(0,2) %}
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + righti %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
			
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				{% set zIndex = zIndex + 17 %}
				{{ verticalCover(top,right,zIndex,leftRight,0) }}
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + righti %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
			
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				{% if id2 ==0 or id2 == 2 %}
				{% set zIndex = zIndex + 18 %}
				{% else %}
				{% set zIndex = zIndex + 33 %}
				{% endif %}
				{{ verticalCover(top,right,zIndex,leftRight,1) }}
				{% set zIndex = zIndex + 14 %}
				{{ verticalCover(top,right,zIndex,leftRight,0) }}
			{% endfor %}
			
		
			
		</div>
		<div class="resizeCoverV"><span><-</span><span>-></span></div>
				
		<div class="leftRight">
			
			<div {% if id2 == 0 or id2 == 1 %}class="hresize"{% else %}class="hflex"{% endif %}>
				
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 300 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				<input type="radio" style="display: none;" name="option-{{ id1 }}{{ id2 }}0" id="option-{{ id1 }}{{ id2 }}0-1"></input>
				<input type="radio" style="display: none;" name="option-{{ id1 }}{{ id2 }}0" id="option-{{ id1 }}{{ id2 }}0-2"></input>
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}0" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}0">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}0"></label>
					{% endfor %}
					<label class="second-option" for="option-{{ id1 }}{{ id2 }}0-1">1</label>
					<label class="second-option" for="option-{{ id1 }}{{ id2 }}0-2">1</label>
				</div>
				
				
				
				{% set zIndex = zIndex + 5 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 0  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					
				{% else %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					
				{% endif %}
				
				{% if id1 < 2 %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% else %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% endif %}
				
				{% if id2 == 0 or id2 == 1 %}
				
				<div class="horizontalGrow"><!--HG1 when id1 == 0, HG5 when id1 == 1, HG7 when id1==2, HG3 when id1 ==3 -->
					
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 6 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 0 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% if id1 == 1 or id1 == 3 %}
					{% set zIndex = zIndex + 14 %}
					{% else %}
					{% set zIndex = zIndex + 9 %}
					{% endif %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
				</div>
				
				{% set zIndexRoad = id1*1600 + id2*400 + 50 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 250 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				<div class="resizeCoverH"><span><-</span><span>-></span></div>
				{% endif %}
				
				
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
			</div>
			
			
			<div {% if id2 == 2 or id2 == 3 %}class="hresize rtl"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 200 %}
				{% set leftRight = 1 %}
				{% endif %}
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}1" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}1">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}1"></label>
					{% endfor %}
					
				</div>
				
				
				{% set zIndex = zIndex + 5 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
				{% else %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 3  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
				{% endif %}
				
				{% if id1 < 2 %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% else %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% endif %}

				{% if id2 == 2 or id2 == 3 %}
				<div class="horizontalGrow" style="direction: rtl;"><!--HG3 when id1 == 0, HG7 when id1 == 1, HG5 when id1==2, HG1 when id1 ==3 -->
					
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 6 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 0 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% if id1 == 1 or id1 == 3 %}
					{% set zIndex = zIndex + 9 %}
					{% else %}
					{% set zIndex = zIndex + 14 %}
					{% endif %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					
				</div>
				<div class="resizeCoverHR"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 50 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 250 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
			</div>
		</div>
		
		{% set zIndexRoad = id1*1600 + id2*400 + 150 %}
	
		{% if id1 > 1 %}
		{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 150 %}
		{% endif %}
		<div class="hroad" style="z-index: {{ zIndexRoad}};">
		</div>
	</div>
	
	<div class="vflex">

		<div class="leftRight">
			
			<div {% if id2 == 0 or id2 == 1 %}class="hresize"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 200 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + ( right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 100 %}
				{% set leftRight = 1 %}
				{% endif %}
				
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}2" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}2">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}2"></label>
					{% endfor %}
					
				</div>
				
				
				{% set zIndex = zIndex + 5 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 0  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
				{% else %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
				{% endif %}
				
				{% if id1 < 2 %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% else %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% endif %}
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + ( right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
				{% set zIndex = zIndex + 20 %}
				{% set zii = zii + 1 %}
				{% if id1 < 2 %}
					<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 0  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
				{% else %}
					<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 >1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 >1 and id1 == 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
				{% endif %}
				
				{% if id2 == 1 or id2 == 3 %}
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + ( right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 35 %}
					{% set zii = zii + 1 %}
					{% if id1 < 2 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% if id2 >1  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% endif %}
						{% if id2 >1 and id1 == 0  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% endif %}
					{% else %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% if id2 >1  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% endif %}
						{% if id2 >1 and id1 == 2  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% endif %}
					{% endif %}
				{% endif %}
				
				
				{% if id2 == 0 or id2 == 1 %}
				<div class="horizontalGrow">
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 6 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% if id2 ==1 or id2 == 3 %}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% endif %}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% if id1 == 1 or id1 == 3 %}
					{% set zIndex = zIndex + 14 %}
					{% else %}
					{% set zIndex = zIndex + 9 %}
					{% endif %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% if id2 ==1 or id2 == 3 %}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% endif %}
				</div>
				<div class="resizeCoverH"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 250 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 50 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
				
			</div>
			
			<div {% if id2 == 2 or id2 == 3 %}class="hresize rtl"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 300 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 %}
				{% set leftRight = 1 %}
				{% endif %}
				
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}3" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}3">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park"] %}
					<label class="{{ t}}Button" for="{{ t }}-{{ id1 }}{{ id2 }}3"></label>
					{% endfor %}
					
				</div>
				
				
				{% set zIndex = zIndex + 5 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
				{% else %}
					<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 3  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
				{% endif %}
				
				{% if id1 < 2 %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% else %}
				<div class="finalContrast" style="z-index: {{ zIndex + 70 }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); backdrop-filter: contrast({{ zii + 1 }});"></div>
				{% endif %}
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
				{% set zIndex = zIndex + 20 %}
				{% set zii = zii + 1 %}
				{% if id1 < 2 %}
					<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 1  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					{% endif %}
				{% else %}
					<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% if id2 < 2  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
					{% if id2 < 2 and id1 == 3  %}
						{% set zIndex = zIndex + 5 %}
						{% set zii = zii + 1 %}
						<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					{% endif %}
				{% endif %}
				{% if id2 ==1 or id2 == 3 %}
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 35 %}
					{% set zii = zii + 1 %}
					{% if id1 < 2 %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% if id2 < 2  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% endif %}
						{% if id2 < 2 and id1 == 1  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
						{% endif %}
					{% else %}
						<div class="scoreColorN" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% if id2 < 2  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% endif %}
						{% if id2 < 2 and id1 == 3  %}
							{% set zIndex = zIndex + 5 %}
							{% set zii = zii + 1 %}
							<div class="scoreColor" style="opacity: {{ 1.0/(zii + 1.0) }}; z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
						{% endif %}
					{% endif %}
				{% endif %}
				
				
				{% if id2 == 2 or id2 == 3 %}
				<div class="horizontalGrow" style="direction: rtl;">
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 6 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% if id2 ==1 or id2 == 3 %}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% endif %}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% if id1 == 1 or id1 == 3 %}
					{% set zIndex = zIndex + 9 %}
					{% else %}
					{% set zIndex = zIndex + 14 %}
					{% endif %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% if id2 ==1 or id2 == 3 %}
					{% set zIndex = zIndex + 13 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1) }}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0) }}
					{% endif %}
				</div>
				<div class="resizeCoverHR"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 250 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 50 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
			</div>
		</div>

		
		
	</div>
</div>
{% endmacro %}

{% macro zoneButtons(name) %}
	{% for i in range(0,4) %}
		{% for ii in range(0,4) %}
			{% for iii in range(0,4) %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="blank-{{ i }}{{ ii }}{{ iii }}" checked>
			{% for t in ["sfh","mfh","office","gov","hr","hospital","hotel","park"] %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="{{ t }}-{{ i }}{{ ii }}{{ iii }}">
			{% endfor %}
			{% for t in ["power"] %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="{{ t }}-{{ i }}{{ ii }}{{ iii }}">
			{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endmacro %}