{% extends "templates/4by4.html" %}
{% macro sfh(angle) %}
<div class="isoCell" style="transform: rotate({{ angle }}deg)">
	<div class="notBottom">
		<div class="cellTop" style="z-index:5; margin-right: 200px;">
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
				</div>
			</div>
			<div class="spacer">
			</div>
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
				</div>	
			</div>
			<div class="spacer">
			</div>
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
				</div>
			</div>
			<div class="spacer">
			</div>
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
				</div>
			</div>
			<div class="spacer">
			</div>
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
				</div>
			</div>
			<div class="spacer">
			</div>
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cellMid" style="z-index:6;">
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
				</div>
			</div>
			<div style="float: right;">
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cellMid" style="z-index:7;">
			<div>
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
				</div>
			</div>
			<div style="float: right;">
				<div class="sfh">
					<div class="leftWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="rightWall">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
					<div class="roof">
						<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">ABC</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cellBottom" style="z-index:8;">
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
		<div class="spacer">
		</div>
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
		<div class="spacer">
		</div>
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
		<div class="spacer">
		</div>
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
		<div class="spacer">
		</div>
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
		<div class="spacer">
		</div>
		<div>
			<div class="sfh">
				<div class="leftWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="rightWall">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
				<div class="roof">
					<div style="border:1px solid black; width: calc(100% - 2px); height: calc(100% - 2px);">AB</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}