{% extends "templates/4by4.html" %}


{% macro horizontalCover(top,right,zIndex,leftRight,frac,id1) %}

{% set mystr = "" %}
{% if leftRight == 0 or leftRight == 10 %}
<div class="hCoverDiv {% if leftRight >= 10 %}hCoverDiv0{% endif %}" style="bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); z-index: {{ zIndex  }};">
{% else %}
{% set mystr = "margin-bottom: 0px; margin-top: calc(8 * var(--block));" %}
<div class="hCoverDiv {% if leftRight >= 10 %}hCoverDiv1{% endif %}" style="flex-wrap: wrap-reverse; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex  }};">
{% endif %}


{% if id1 == 0 %}
	
{% elif id1 == 1 %}
	{% set fpnn = 3 %}<div style="{{mystr}}" class="hCover hCover4 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>
	{% for fpn in range(0,1) %}{% set fpnn = 5 %}<div style="{{mystr}}" class="hCover hCover2 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>{% endfor %}
	{% for fpn in range(6,14) %}{% set fpnn = fpn %}<div style="{{mystr}}" class="hCover hCover1 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>{% endfor %}
	{% for fpn in range(7,10) %}{% set fpnn = 2*fpn + 1 %}<div style="{{mystr}}" class="hCover hCover2 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>{% endfor %}
</div>
{% elif id1 == 2 %}
	{% set fpnn = 2 %}<div style="{{mystr}}" class="hCover hCover2 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>
	{% for fpn in range(3,10) %}{% set fpnn = fpn %}<div style="{{mystr}}" class="hCover hCover1 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>{% endfor %}
	{% for fpn in range(5,8) %}{% set fpnn = 2*fpn + 1 %}<div style="{{mystr}}" class="hCover hCover2 hCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %} {% if zIndex % 10 == 1 %}ha1{% elif zIndex % 10 == 6 %}ha3{% endif %}"></div>{% endfor %}
</div>
{% else %}

{% endif %}


{% endmacro %}	


{% macro verticalCover(top,right,zIndex,leftRight,frac,id1) %}

{% if leftRight == 0 %}
<div class="vCoverDiv {% if top == 3 %}vCoverDiv0{% endif %}" style="top: calc((52 + {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block)); z-index: {{ zIndex }};">
{% else %}
<div class="vCoverDiv {% if top == 4 %}vCoverDiv1{% endif %}" style="flex-direction: column; bottom: calc(100% + (1 + {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block)); z-index: {{ zIndex }};">
{% endif %}

{% set fd = 2 %}
{% if id1 == 2 and (top == 0 or top == 2 or top == 5 or top == 7) %}
	{# only 1 vertical #}
	{% if right == 1 or right == 2 or right == 5 or right == 6 %}
		{% set fd = 4 %}
	{% endif %}
{% elif id1 == 2 and (right == 1 or right == 2 or right == 5 or right == 6) %}
	{# 2 verticals and 2 hor #}
	{% if zIndex % 10 == 4 %}
		{% set fd = 1 %}
	{% else %}
		{% set fd = 6 %}
	{% endif %}
{% elif id1 == 2 %}
	{# 2 verticals and 1 hor #}
	{% if zIndex % 10 == 4 %}
		{% set fd = 2 %}
	{% else %}
		{% set fd = 4 %}
	{% endif %}
{% endif %}

{% if id1 == 0 %}
	
{% elif id1 == 1 %}
	{% set fpnn = 3 * fd %}<div class="vCover vCover4 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>
	{% for fpn in range(0,1) %}{% set fpnn = 5 * fd %}<div class="vCover vCover2 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>{% endfor %}
	{% for fpn in range(6,14) %}{% set fpnn = fpn * fd %}<div class="vCover vCover1 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>{% endfor %}
	{% for fpn in range(7,10) %}{% set fpnn = (2*fpn + 1) * fd %}<div class="vCover vCover2 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>{% endfor %}
</div>
{% elif id1 == 2 %}
	{% set fpnn = 2 * fd %}<div class="vCover vCover2 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>
	{% for fpn in range(3,10) %}{% set fpnn = fpn * fd %}<div class="vCover vCover1 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>{% endfor %}
	{% for fpn in range(5,8) %}{% set fpnn = (2*fpn + 1) * fd %}<div class="vCover vCover2 vCon{% if frac > 0 %}F{{fpnn}}{% else %}{{fpnn}}{% endif %}"></div>{% endfor %}
</div>
{% else %}

{% endif %}


{% endmacro %}	

{% macro saveButtonV(id1,id2,id3) %}
{% if id1 == 0 %}
<div class="saveVCoverDiv" style="top: calc((52 + 3) * var(--block)); right: calc({{ 30 - 0 }} * var(--block)); z-index: {{ 0 }};">
	<div class="vCover vCover13 saveB" style="">{{11}}</div>
	{% for fpn in range(6,8) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
	{% for fpn in range(16,24) %}<div class="vCover vCover1 saveB" style="">{{fpn}}</div>{% endfor %}
	{% for fpn in range(12,14) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
</div>
{% elif id1 == 1 and id2 < 4 %}
<div class="saveVCoverDiv" style="top: calc((52 + 3) * var(--block)); right: calc({{ 30 - 1 - id2 }} * var(--block)); z-index: {{ 10 + id2 }};">
	<div class="vCover vCover4 saveB" style="">{{3}}</div>
	{% for fpn in range(0,1) %}<div class="vCover vCover2 saveB" style="">{{5}}</div>{% endfor %}
	{% for fpn in range(6,14) %}<div class="vCover vCover1 saveB" style="">{{fpn}}</div>{% endfor %}
	{% for fpn in range(7,10) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
</div>
{% elif id1 == 1 and id2 >= 4%}
<div class="saveVCoverDiv" style="flex-direction: column; bottom: calc(100% + (1 + 3) * var(--block)); right: calc({{ 20 + 1 + id2 }} * var(--block)); z-index: {{ 10 + id2 }};">
	<div class="vCover vCover4 saveB" style="">{{3}}</div>
	{% for fpn in range(0,1) %}<div class="vCover vCover2 saveB" style="">{{5}}</div>{% endfor %}
	{% for fpn in range(6,14) %}<div class="vCover vCover1 saveB" style="">{{fpn}}</div>{% endfor %}
	{% for fpn in range(7,10) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
</div>
{% elif id1 == 2 and id2 < 4 %}
<div class="saveVCoverDiv" style="top: calc((52 + 3) * var(--block)); right: calc({{ 30 - 1 - id2 }} * var(--block)); z-index: {{ 100 + id2 }};">
	<div class="vCover vCover2 saveB" style="">{{2}}</div>
	{% for fpn in range(3,10) %}<div class="vCover vCover1 saveB" style="">{{fpn}}</div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
</div>
{% elif id1 == 2 and id2 >= 4 %}
<div class="saveVCoverDiv" style="flex-direction: column; bottom: calc(100% + (1 + 3) * var(--block)); right: calc({{ 20 + 1 + id2 }} * var(--block)); z-index: {{ 100 + id2 }};">
	<div class="vCover vCover2 saveB" style="">{{2}}</div>
	{% for fpn in range(3,10) %}<div class="vCover vCover1 saveB" style="">{{fpn}}</div>{% endfor %}
	{% for fpn in range(5,8) %}<div class="vCover vCover2 saveB" style="">{{2*fpn + 1}}</div>{% endfor %}
</div>
{% endif %}

{% endmacro %}

{% macro 2by2(id1,id2) %}


<div class="topBottom">
	<div class="vresize">

		<div class="verticalGrow">
			{% for righti in range(0,2) %}
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + righti %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
			
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				{% set zIndex = zIndex + 3 %}
				{# v2 is only vert, unknown hor #}
				{# id1 0 or 1 is top half: right is anything?; top is 0,2 #}
				{# id1 2 or 3 is bot half: right is anything?; top is 7,5 #}
				{{ verticalCover(top,right,zIndex,leftRight,0,2) }}
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + righti %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
			
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				
				{% set zIndex = zIndex + 4 %}
				{# v2 is 2nd vert, unknown hor #}
				{# id1 0 or 1 is top half: right is anything?; top is 1,3 #}
				{# id1 2 or 3 is bot half: right is anything?; top is 4,6 #}
				{{ verticalCover(top,right,zIndex,leftRight,1,2) }}
				{% set zIndex = zIndex + 4 %}
				{{ verticalCover(top,right,zIndex,leftRight,0,2) }}
			{% endfor %}
			{{ saveButtonV(2,id1*2,id2) }}
		
			
		</div>
		<div class="resizeCoverV"><span><-</span><span>-></span></div>
				
		<div class="leftRight">
			
			<div {% if id2 == 0 or id2 == 1 %}class="hresize"{% else %}class="hflex"{% endif %}>
				
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 300 %}
				{% set leftRight = 1 %}
				{% endif %}
			
				<input type="radio" style="display: none;" class="second-option-1" name="option-{{ id1 }}{{ id2 }}0" id="option-{{ id1 }}{{ id2 }}0-1" checked></input>
				<input type="radio" style="display: none;" class="second-option-2" name="option-{{ id1 }}{{ id2 }}0" id="option-{{ id1 }}{{ id2 }}0-2"></input>
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}0" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}0">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park","library","cc","retail"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}0"></label>
					{% endfor %}
					<label class="second-option-1L" for="option-{{ id1 }}{{ id2 }}0-1"></label>
					<label class="second-option-2L" for="option-{{ id1 }}{{ id2 }}0-2"></label>
				</div>
				
				
				
				{% set zIndex = zIndex + 9 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					
					
				{% else %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					
					
				{% endif %}
				
				
				
				{% if id2 == 0 or id2 == 1 %}
				
				<div class="horizontalGrow"><!--HG1 when id1 == 0, HG5 when id1 == 1, HG7 when id1==2, HG3 when id1 ==3 -->
					
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 1 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 0 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
				</div>
				
				{% set zIndexRoad = id1*1600 + id2*400 + 50 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 250 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				<div class="resizeCoverH"><span><-</span><span>-></span></div>
				{% endif %}
				
				{{ empty(zIndexCell,id1) }}
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
				{{ library(zIndexCell,id1) }}
				{{ retail(zIndexCell,id1) }}
				{{ cc(zIndexCell,id1) }}
			</div>
			
			
			<div {% if id2 == 2 or id2 == 3 %}class="hresize rtl"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 0 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 200 %}
				{% set leftRight = 1 %}
				{% endif %}
				<input type="radio" style="display: none;" class="second-option-1" name="option-{{ id1 }}{{ id2 }}1" id="option-{{ id1 }}{{ id2 }}1-1" checked></input>
				<input type="radio" style="display: none;" class="second-option-2" name="option-{{ id1 }}{{ id2 }}1" id="option-{{ id1 }}{{ id2 }}1-2"></input>
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}1" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}1">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park","library","cc","retail"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}1"></label>
					{% endfor %}
					<label class="second-option-1L" for="option-{{ id1 }}{{ id2 }}1-1"></label>
					<label class="second-option-2L" for="option-{{ id1 }}{{ id2 }}1-2"></label>
				</div>
				
				
				{% set zIndex = zIndex + 9 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					
				{% else %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					
				{% endif %}
				
				

				{% if id2 == 2 or id2 == 3 %}
				<div class="horizontalGrow" style="direction: rtl;"><!--HG3 when id1 == 0, HG7 when id1 == 1, HG5 when id1==2, HG1 when id1 ==3 -->
					
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 1 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 0 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
					
				</div>
				<div class="resizeCoverHR"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 50 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 250 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				{{ empty(zIndexCell,id1) }}
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
				{{ library(zIndexCell,id1) }}
				{{ retail(zIndexCell,id1) }}
				{{ cc(zIndexCell,id1) }}
			</div>
		</div>
		
		{% set zIndexRoad = id1*1600 + id2*400 + 150 %}
	
		{% if id1 > 1 %}
		{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 150 %}
		{% endif %}
		<div class="hroad" style="z-index: {{ zIndexRoad}};">
		</div>
	</div>
	
	<div class="vflex">

		<div class="leftRight">
			
			<div {% if id2 == 0 or id2 == 1 %}class="hresize"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 200 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + ( right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 + 100 %}
				{% set leftRight = 1 %}
				{% endif %}
				
				<input type="radio" style="display: none;" class="second-option-1" name="option-{{ id1 }}{{ id2 }}2" id="option-{{ id1 }}{{ id2 }}2-1" checked></input>
				<input type="radio" style="display: none;" class="second-option-2" name="option-{{ id1 }}{{ id2 }}2" id="option-{{ id1 }}{{ id2 }}2-2"></input>
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}2" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}2">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park","library","cc","retail"] %}
					<label class="{{t}}Button" for="{{t}}-{{ id1 }}{{ id2 }}2"></label>
					{% endfor %}
					<label class="second-option-1L" for="option-{{ id1 }}{{ id2 }}2-1"></label>
					<label class="second-option-2L" for="option-{{ id1 }}{{ id2 }}2-2"></label>
				</div>
				
				
				{% set zIndex = zIndex + 9 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					
				{% else %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					
				{% endif %}
				
				
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 0 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + ( right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
				{% set zIndex = zIndex + 20 %}
				{% set zii = zii + 1 %}
				
				
				{% if id2 == 1 or id2 == 3 %}
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + ( right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 35 %}
					{% set zii = zii + 1 %}
					
				{% endif %}
				
				
				{% if id2 == 0 or id2 == 1 %}
				<div class="horizontalGrow">
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					
					{% set zIndex = zIndex + 1 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
					{% set zIndex = zIndex + 4 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
					{% set zIndex = zIndex + 4 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
				</div>
				<div class="resizeCoverH"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 250 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 50 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				
				{{ empty(zIndexCell,id1) }}
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
				{{ library(zIndexCell,id1) }}
				{{ retail(zIndexCell,id1) }}
				{{ cc(zIndexCell,id1) }}
				
			</div>
			
			<div {% if id2 == 2 or id2 == 3 %}class="hresize rtl"{% else %}class="hflex"{% endif %}>
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set zIndexCell = id1*1600 + id2*400 + 300 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set zIndexCell = (5 - id1)*1600 + (3 - id2)*400 %}
				{% set leftRight = 1 %}
				{% endif %}
				
				<input type="radio" style="display: none;" class="second-option-1" name="option-{{ id1 }}{{ id2 }}3" id="option-{{ id1 }}{{ id2 }}3-1" checked></input>
				<input type="radio" style="display: none;" class="second-option-2" name="option-{{ id1 }}{{ id2 }}3" id="option-{{ id1 }}{{ id2 }}3-2"></input>
				
				<div class="zoneCell cell-{{ id1 }}{{ id2 }}3" {% if id1 > 1 %}style="transform: rotate(180deg);"{% endif %}>
					<label class="deleteButton" for="blank-{{ id1 }}{{ id2 }}3">Blank-{{ zIndexCell }}-{{ zIndex }}</label>
					{% for t in ["sfh","mfh","office","gov","hr","power","hospital","hotel","park","library","cc","retail"] %}
					<label class="{{ t}}Button" for="{{ t }}-{{ id1 }}{{ id2 }}3"></label>
					{% endfor %}
					<label class="second-option-1L" for="option-{{ id1 }}{{ id2 }}3-1"></label>
					<label class="second-option-2L" for="option-{{ id1 }}{{ id2 }}3-2"></label>
				</div>
				
				
				{% set zIndex = zIndex + 9 %}
				{% set zii = 0 %}
				{% if id1 < 2 %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; bottom: calc((7 - {{ top }}) * var(--block)); right: calc({{ 45 - right }} * var(--block));"></div>
					
				{% else %}
					<div class="scoreColor" style="z-index: {{ zIndex }}; top: calc((-2 - {{ top }}) * var(--block)); right: calc({{ 5 + right }} * var(--block));"></div>
					
				{% endif %}
				
				
				
				{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
				{% set top = top + (id2 % 2) * 2 %}
				{% set top = top + 1 %}
				{% set right = (id1 % 2) * 4 %}
				{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
				{% set right = right + 1 %}
				{% set zIndex = (top)*800+100 + (7-right)*100 %}
				{% set leftRight = 0 %}
				
				{% if id1 > 1 %}
				{% set top = 7 - (top - 4) %}
				{% set right = 7 - right %}
				{% set zIndex = (top)*800+100 + (right)*100 %}
				{% set leftRight = 1 %}
				{% endif %}
				{% set zIndex = zIndex + 20 %}
				{% set zii = zii + 1 %}
				
				{% if id2 ==1 or id2 == 3 %}
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 1 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 35 %}
					{% set zii = zii + 1 %}
					
				{% endif %}
				
				
				{% if id2 == 2 or id2 == 3 %}
				<div class="horizontalGrow" style="direction: rtl;">
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
				
					{% set zIndex = zIndex + 1 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
					{% set zIndex = zIndex + 4 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
					
					{% set top = (id1 - (id1 % 2)) / 2 * 4 %}
					{% set top = top + (id2 % 2) * 2 %}
					{% set top = top + 1 %}
					{% set right = (id1 % 2) * 4 %}
					{% set right = right + (id2 - (id2 % 2)) / 2 * 2 %}
					{% set right = right + 0 %}
					{% set zIndex = (top)*800+100 + (7-right)*100 %}
					{% set leftRight = 0 %}
				
					{% if id1 > 1 %}
					{% set top = 7 - (top - 4) %}
					{% set right = 7 - right %}
					{% set zIndex = (top)*800+100 + (right)*100 %}
					{% set leftRight = 1 %}
					{% endif %}
					{% set zIndex = zIndex + 2 %}
					{{ horizontalCover(top,right,zIndex,leftRight,1,2) }}
					{% set zIndex = zIndex + 4 %}
					{{ horizontalCover(top,right,zIndex,leftRight,0,2) }}
				</div>
				<div class="resizeCoverHR"><span><-</span><span>-></span></div>
				
				
				{% set zIndexRoad = id1*1600 + id2*400 + 250 %}
			
				{% if id1 > 1 %}
				{% set zIndexRoad = (5 - id1)*1600 + (3 - id2)*400 + 50 %}
				{% endif %}
				<div class="vroad" style="z-index: {{ zIndexRoad }};">
				
				</div>
				{% endif %}
				
				{{ empty(zIndexCell,id1) }}
				{{ sfh(zIndexCell,id1) }}
				{{ mfh(zIndexCell,id1) }}
				{{ office(zIndexCell,id1) }}
				{{ gov(zIndexCell,id1) }}
				{{ hr(zIndexCell,id1) }}
				{{ power(zIndexCell,id1) }}
				{{ hospital(zIndexCell,id1) }}
				{{ hotel(zIndexCell,id1) }}
				{{ park(zIndexCell,id1) }}
				{{ library(zIndexCell,id1) }}
				{{ retail(zIndexCell,id1) }}
				{{ cc(zIndexCell,id1) }}
			</div>
		</div>

		
		
	</div>
</div>
{% endmacro %}

{% macro zoneButtons(name) %}
	{% for i in range(0,4) %}
		{% for ii in range(0,4) %}
			{% for iii in range(0,4) %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="blank-{{ i }}{{ ii }}{{ iii }}" checked>
			{% for t in ["sfh","mfh","office","gov","hr","hospital","hotel","park","library","retail","cc"] %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="{{ t }}-{{ i }}{{ ii }}{{ iii }}">
			{% endfor %}
			{% for t in ["power"] %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="{{ t }}-{{ i }}{{ ii }}{{ iii }}">
			{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endmacro %}