{% extends "templates/8by8.html" %}
{% macro 4by4(angle,id) %}
<div class="topBottom" style="transform: rotate({{ angle }}deg)">
	<div class="top">
		<div class="smallGrid">
			<div class="leftRight">
				<div class="left">
					{{ sfh(0) }}
				</div>
				<div class="center">
					
				</div>
				<div class="right">
					
					<div class="horizontalGrow"></div>
					{{ sfh(180) }}
				</div>
			</div>
		
		</div>
	</div>
	<div class="mid">
		- - - - - - - - -
	</div>
	<div class="bottom">
		<div class="smallGrid">
			<div class="leftRight">
				<div class="left" style="transform: rotate(180deg); z-index: 50;">
					{{ apartment(0,id) }}
					
				</div>
				<div class="center">
					
				</div>
				<div class="right">
					
					<div class="horizontalGrow"></div>
					{{ sfh(0) }}
				</div>
			</div>
		
		</div>
		<div class="verticalGrow"></div>
	</div>
</div>
{% endmacro %}