{% extends "templates/8by8.html" %}
{% macro 4by4(angle1,angle2,angle3,angle4,id1,id2) %}


<div class="topBottom" style="transform: rotate({{ angle3 }}deg)">
	<div class="vresize">
		<div class="smallGrid">
			<div class="leftRight" style="transform: rotate({{ angle2 + angle4 }}deg)">
				{% if angle1 + angle2 + angle3 == 180 or  angle1 + angle2 + angle3 == 540 %}
				{% set idr = 3 %}
				{% else %}
				{% set idr = 0 %}
				{% endif %}
				
				{% if angle2 + angle4 == 180 %}
					{% if idr == 0 %}
					{% set idr = 1 %}
					{% elif idr == 1 %}
					{% set idr = 0 %}
					{% elif idr == 2 %}
					{% set idr = 3 %}
					{% elif idr == 3 %}
					{% set idr = 2 %}
					{% endif %}
				{% endif %}
				{% if angle1 + angle2 + angle3 == 180 or  angle1 + angle2 + angle3 == 540 %}
				{% set idf = 2 %}
				{% else %}
				{% set idf = 1 %}
				{% endif %}
				
				{% if angle2 + angle4 == 180 %}
					{% if idf == 0 %}
					{% set idf = 1 %}
					{% elif idf == 1 %}
					{% set idf = 0 %}
					{% elif idf == 2 %}
					{% set idf = 3 %}
					{% elif idf == 3 %}
					{% set idf = 2 %}
					{% endif %}
				{% endif %}
				<div class="hresize">
					
					<div class="horizontalGrow"></div>
					<div class="zoneCell cell-{{ id1 }}{{ id2 }}{{ idr }}" style="transform: rotate({{ angle1 + angle3 + angle4 }}deg)">
						<label for="blank-{{ id1 }}{{ id2 }}{{ idr }}">Blank-{{ id1 }}-{{ id2 }}-{{ idr }}</label>
						<label for="sfh-{{ id1 }}{{ id2 }}{{ idr }}">SFH</label>
						<label for="mfh-{{ id1 }}{{ id2 }}{{ idr }}">MFH</label>
						<input type="radio" name="tSelect" id="tt-{{ id1 }}{{ id2 }}{{ idr }}" />
						<input type="radio" name="tSelect" id="ttt-{{ id1 }}{{ id2 }}{{ idr }}" />
						<select name="testSelect" id="testSelect">
							<option value="sfh" disabled><label for="tt-{{ id1 }}{{ id2 }}{{ idr }}">SFH</label></option>
							<option value="mfh"><label for="ttt-{{ id1 }}{{ id2 }}{{ idr }}">MFH</label></option>
						</select>
					</div>
					{{ sfh(angle1 + angle3 + angle4,id1,id2,idr) }}
					{{ mfh(angle1 + angle3 + angle4,id1,id2,idr) }}
				</div>
				<div class="vroad" style="z-index: {{ id1*200 + id2*20 + (idf + idr) }};">
					
				</div>
				
				<div class="hflex">
					
					<div class="zoneCell cell-{{ id1 }}{{ id2 }}{{ idf }}" style="transform: rotate({{ angle1 + angle3 + angle4 }}deg)">
						<label for="blank-{{ id1 }}{{ id2 }}{{ idf }}">Blank-{{ id1 }}-{{ id2 }}-{{ idf }}</label>
						<label for="sfh-{{ id1 }}{{ id2 }}{{ idf }}">SFH</label>
						<label for="mfh-{{ id1 }}{{ id2 }}{{ idf }}">MFH</label>
					</div>
					
					{{ sfh(angle1 + angle3 + angle4,id1,id2,idf) }}
					{{ mfh(angle1 + angle3 + angle4,id1,id2,idf) }}
				</div>
			</div>
		
		</div>
		<div class="verticalGrow"></div>
	</div>
	<div class="hroad" style="z-index: {{ id1*200 + id2*20 + 3}};">
	</div>
	<div class="vflex">
		<div class="smallGrid">
			<div class="leftRight" style="transform: rotate({{ angle2 + angle4 }}deg)">
				{% if angle1 + angle2 + angle3 == 180 or  angle1 + angle2 + angle3 == 540 %}
				{% set idr = 1 %}
				{% else %}
				{% set idr = 2 %}
				{% endif %}
				{% if angle2 + angle4 == 180 %}
					{% if idr == 0 %}
					{% set idr = 1 %}
					{% elif idr == 1 %}
					{% set idr = 0 %}
					{% elif idr == 2 %}
					{% set idr = 3 %}
					{% elif idr == 3 %}
					{% set idr = 2 %}
					{% endif %}
				{% endif %}
				
				{% if angle1 + angle2 + angle3 == 180 or  angle1 + angle2 + angle3 == 540 %}
				{% set idf = 0 %}
				{% else %}
				{% set idf = 3 %}
				{% endif %}
				{% if angle2 + angle4 == 180 %}
					{% if idf == 0 %}
					{% set idf = 1 %}
					{% elif idf == 1 %}
					{% set idf = 0 %}
					{% elif idf == 2 %}
					{% set idf = 3 %}
					{% elif idf == 3 %}
					{% set idf = 2 %}
					{% endif %}
				{% endif %}
				<div class="hresize">
					
					
					
					<div class="horizontalGrow"></div>
					<div class="zoneCell cell-{{ id1 }}{{ id2 }}{{ idr }}" style="transform: rotate({{ angle1 + angle3 + angle4 }}deg)">
						<label for="blank-{{ id1 }}{{ id2 }}{{ idr }}">Blank-{{ id1 }}-{{ id2 }}-{{ idr }}</label>
						<label for="sfh-{{ id1 }}{{ id2 }}{{ idr }}">SFH</label>
						<label for="mfh-{{ id1 }}{{ id2 }}{{ idr }}">MFH</label>
					</div>
					{{ sfh(angle1 + angle3 + angle4,id1,id2,idr) }}
					{{ mfh(angle1 + angle3 + angle4,id1,id2,idr) }}
					
				</div>
				<div class="vroad" style="z-index: {{ id1*200 + id2*20 + (idf + idr) }};">
					
				</div>
				<div class="hflex">
					
					<div class="zoneCell cell-{{ id1 }}{{ id2 }}{{ idf }}" style="transform: rotate({{ angle1 + angle3 + angle4 }}deg)">
						<label for="blank-{{ id1 }}{{ id2 }}{{ idf }}">Blank-{{ id1 }}-{{ id2 }}-{{ idf }}</label>
						<label for="sfh-{{ id1 }}{{ id2 }}{{ idf }}">SFH</label>
						<label for="mfh-{{ id1 }}{{ id2 }}{{ idf }}">MFH</label>
					</div>
					
					{{ sfh(angle1 + angle3 + angle4,id1,id2,idf) }}
					{{ mfh(angle1 + angle3 + angle4,id1,id2,idf) }}
				</div>
			</div>
		
		</div>
		
	</div>
</div>
{% endmacro %}

{% macro zoneButtons(name) %}
	{% for i in range(0,4) %}
		{% for ii in range(0,4) %}
			{% for iii in range(0,4) %}
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="blank-{{ i }}{{ ii }}{{ iii }}" checked>
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="sfh-{{ i }}{{ ii }}{{ iii }}">
			<input type="radio" style="display: none;" name="cell-{{ i }}{{ ii }}{{ iii }}" id="mfh-{{ i }}{{ ii }}{{ iii }}">
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endmacro %}