{% extends "templates/basecity.html" %}
{% macro 8by8(angle,id) %}
<div class="leftRight" style="transform: rotate({{angle}}deg);">
	<div class="hresize">
		<div class="smallGrid">
			<div class="topBottom">
				<div class="vresize">
					<div class="verticalGrow grow4"></div>
					<!--{{ 4by4(0,id,0) }}-->
				</div>
				<div class="hroad">
			
				</div>
				<div class="vflex">
			
					
					<!--{{ 4by4(180,id,1) }}-->
				</div>
			</div>

		</div>
		<div class="horizontalGrow grow4"></div>
	</div>
	<div class="vroad">
	</div>
	<div class="hflex">
		<div class="smallGrid">
			<div class="topBottom">
				<div class="vresize" style="">
					<div class="verticalGrow grow4"></div>
					<!--{{ 4by4(0,id,2) }}-->
			
				</div>
				<div class="hroad">
			
				</div>
				<div class="vflex">
			
					
					<!--{{ 4by4(0,id,3) }}-->
				</div>
			</div>

		</div>
		
	</div>
</div>
{% endmacro %}