<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CheSS</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    




<style>
body {
	--block: 2rem;
}
label {
	display: none;
	width: var(--block);
	height: var(--block);
	position: absolute;
	background: #DDD;
}
{% for r in range(0,8) %}
label.r{{r}} {
	top: calc(var(--block) * {{r}});
}
{% endfor %}
{% for c in range(0,8) %}
label.c{{c}} {
	left: calc(var(--block) * {{c}});
}
{% endfor %}
label.g {
	background: #BBB;
}
label.off {
	top: calc(var(--block) * -2);
	left: calc(var(--block) * -2);
}
input:checked + label {
	display: inline-block;
}
</style>
</head>
<body>

{% for i in range(0,32) %}
	{% for r in range(0,8) %}
		{% for c in range(0,8) %}
			<input type="radio" name="p{{i}}" id="pa{{i}}-{{r}}{{c}}"></input>
			<label for="pa{{i}}-{{r}}{{c}}" class="r{{r}} c{{c}} {% if (r + c) % 2 == 0 %}g{%endif%}">{{ pieces[i] | safe}}</label>
		{% endfor %}
	{% endfor %}
{% endfor %}
{% for i in range(0,32) %}
	{% for r in range(0,8) %}
		{% for c in range(0,8) %}
			<input type="radio" name="p{{i}}" id="pb{{i}}-{{r}}{{c}}" {% if initial[i] == r*8 + c %}checked{% endif %}></input>
			<label for="pb{{i}}-{{r}}{{c}}" class="r{{r}} c{{c}} {% if (r + c) % 2 == 0 %}g{%endif%}">{{ pieces[i] | safe}}</label>
		{% endfor %}
	{% endfor %}
	<input type="radio" name="p{{i}}" id="po{{i}}"></input>
	<label for="po{{i}}" class="off">{{ pieces[i] | safe}}</label>
{% endfor %}



</body>
</html>







