<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      

    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">

    


<style>

.container {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.container > div {
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	left: 0px;
	top:0px;
}
</style>
<body>
<span id="output"></span>
<div class="container" id="container">

</div>

<script>

function createArithmetic(x,h,v){
	var el = document.getElementById("container");
	el.innerHTML = "";
	console.log(x,h,v);
	var c = 0;
	var counter = 0;
	var maxC = 6;
	for (var i=0;i<v.length;i++){
		if (i>0){
			c = c * 1.0/Math.abs(v[i]);
			console.log(c,i,ii);
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(1.0/Math.abs(v[i]))+")";
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
		for (var ii=0;ii<h.length;ii++){
			if (i ==0 && ii == 0){
				c = x;
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.background = "rgba("+(128+x)+",128,128,1)";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				
				c = c * Math.abs(h[ii]);
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
			else {
				c = c * 1.0/Math.abs(h[ii]);
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(1.0/Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				if (h[ii] * v[i] < 0){
					c = (c - x)/2;
					var div = document.createElement("div");
					div.style.background = "rgba("+(127-x)+",128,128,.5)";
					el.appendChild(div);
					console.log(c,i,ii);
					counter++; if (counter > maxC){i = v.length+1; break;}
				}
				else {
					c = (c + x)/2;
					var div = document.createElement("div");
					div.style.background = "rgba("+(128+x)+",128,128,.5)";
					el.appendChild(div);
					console.log(c,i,ii);
					counter++; if (counter > maxC){i = v.length+1; break;}
				}
				
				
				
				c = c * 2;
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast(2)";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				c = c * Math.abs(h[ii]);
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
			
		}
		if (i<v.length){
			c = c * Math.abs(v[i]);
			console.log(c,i,ii);
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(Math.abs(v[i]))+")";
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
	}
}
createArithmetic(12,[4,-3],[3,-2]);
</script>
</body>
</html>