<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      

    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">

    


<style>

.container {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.container > div {
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	left: 0px;
	top:0px;
}
#multiTop {
	position:absolute;
	top: 150px;
	margin:0px;
	padding:0px;
}
#multiMid {
	position:absolute;
	top: 250px;
	margin:0px;
	padding:0px;
}
#multiBot {
	position:absolute;
	top: 350px;
	margin:0px;
	padding:0px;
}
#multiTop > div, #multiMid > div, #multiBot > div {
	display: inline-block;
	width: 100px;
	height: 100px;
	background:transparent;
	margin:0px;
	padding:0px;
}
#multiMid > div > div {
	display: inline-block;
	width: 100px;
	height: 100px;
	background:transparent;
	margin:0px;
	padding:0px;
}
</style>
<body>
<span id="output"></span>


<div id="multiTop">
	
</div>
<div id="multiMid">
	
</div>
<div id="multiBot">
	
</div>
<script>

function createArithmeticOld(x,h,v){
	var el = document.getElementById("container");
	el.innerHTML = "";
	console.log(x,h,v);
	var c = 0;
	var counter = 0;
	var maxC = 6;
	for (var i=0;i<v.length;i++){
		if (i>0){
			c = c * 1.0/Math.abs(v[i]);
			if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
			else {c = Math.floor(c)+0.5;}
			console.log(c,i,ii);
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(1.0/Math.abs(v[i]))+")";
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
		for (var ii=0;ii<h.length;ii++){
			if (i ==0 && ii == 0){
				c = x;
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.background = "rgba("+(127.5+x)+",128,128,1)";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				
				c = c * Math.abs(h[ii]);
				if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
				else {c = Math.floor(c)+0.5;}
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
			else {
				c = c * 1.0/Math.abs(h[ii]);
				if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
				else {c = Math.floor(c)+0.5;}
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(1.0/Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				if (h[ii] * v[i] < 0){
					c = (c - x)/2;
					if (c - Math.floor(c) <= 0.5){c = Math.floor(c)+0.5;}
					else {c = Math.floor(c)+1.5;}
					var div = document.createElement("div");
					div.style.background = "rgba("+(127.5-x)+",128,128,.5)";
					el.appendChild(div);
					console.log(c,i,ii);
					counter++; if (counter > maxC){i = v.length+1; break;}
				}
				else {
					c = (c + x)/2;
					if (c - Math.floor(c) <= 0.5){c = Math.floor(c)+0.5;}
					else {c = Math.floor(c)+1.5;}
					var div = document.createElement("div");
					div.style.background = "rgba("+(127.5+x)+",128,128,.5)";
					el.appendChild(div);
					console.log(c,i,ii);
					counter++; if (counter > maxC){i = v.length+1; break;}
				}
				
				
				
				c = c * 2;
				if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
				else {c = Math.floor(c)+0.5;}
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast(2)";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
				c = c * Math.abs(h[ii]);
				if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
				else {c = Math.floor(c)+0.5;}
				console.log(c,i,ii);
				var div = document.createElement("div");
				div.style.backdropFilter = "contrast("+(Math.abs(h[ii]))+")";
				el.appendChild(div);
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
			
		}
		if (i<v.length){
			c = c * Math.abs(v[i]);
			if (c - Math.floor(c) <= 0.5){c = Math.floor(c)-0.5;}
			else {c = Math.floor(c)+0.5;}
			console.log(c,i,ii);
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(Math.abs(v[i]))+")";
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
	}
}
function createArithmetic(x,h,v,show=false){

	var el = document.createElement("div");
	el.classList.add("container");

	el.innerHTML = "";
	if(show){console.log(x,h,v)};
	var c = 0;
	var counter = 0;
	var maxC = 100;
	var vl = 0;
	for (var i=0;i<v.length;i++){
		vl+=v[i];
	}
	var hl = 0;
	for (var i=0;i<h.length;i++){
		hl+=h[i];
	}
	for (var i=0;i<v.length;i++){
		if (i>0){
			var d = 16.0*h.length;
			if (i>1){
				d = 16.0*(h.length+1);
			}
			c = c * d/Math.abs(v[i]);
			
			if(show){console.log(c,i,ii)};
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(d/Math.abs(v[i]))+")";
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
		for (var ii=0;ii<h.length;ii++){
			
			var a = 1.0/(ii+2);
			if (i == 0){
				a = 1.0/(ii+1);
			}
			
			
			if (h[ii] * v[i] < 0){
				c = c*(1-a)-4*Math.abs(h[ii])*a;
				
				var div = document.createElement("div");
				div.style.background = "rgba("+(127.5-Math.abs(h[ii])*4)+",127,127,"+a+")";
				el.appendChild(div);
				if(show){console.log(c,i,ii)};
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
			else {
				c = c*(1-a)+4*Math.abs(h[ii])*a;
				
				var div = document.createElement("div");
				div.style.background = "rgba("+(127.5+Math.abs(h[ii])*4)+",128,128,"+a+")";
				el.appendChild(div);
				if(show){console.log(c,i,ii)};
				counter++; if (counter > maxC){i = v.length+1; break;}
			}
				
			
		}
		if (i<v.length){
			var d = 16.0;
			if (i == v.length-1){
				d = 4.0/(h.length+1);
				if (v.length == 1){
					d = 4.0/(h.length);
				}
			}
			c = c * Math.abs(v[i])/d;
			
			if(show){console.log(c,i,ii)};
			var div = document.createElement("div");
			div.style.backdropFilter = "contrast("+(Math.abs(v[i])/d)+")";
			if (i == v.length-1){
				div.textContent = Math.round(c+128)+","+JSON.stringify(h)+","+JSON.stringify(v);
			}
			el.appendChild(div);
			counter++; if (counter > maxC){i = v.length+1; break;}
		}
	}
	if (Math.round(c) != Math.round(vl*hl) && !show){
		console.log(h,v,c,vl*hl);
		//createArithmetic(x,h,v,true);
	}
	allEls.push({c:c+128,el:el,a:vl*hl+128});
	
}


function createMany(){
	var b = document.querySelector("body");
	
	for (var i=0;i<42;i++){
		var hl = 1+Math.floor(Math.random()*3);
		var vl = 1+Math.floor(Math.random()*3);
		var h = [];
		if (hl==3){
			h.push(11+Math.floor(Math.random()*17));
		}
		else if (hl==2){
			h.push(3+Math.floor(Math.random()*17));
		}
		else {
			h.push(2+Math.floor(Math.random()*14));
		}
		if (hl==3){
			h.push(-1*(3+Math.floor(Math.random()*Math.min(h[0]-4,17))));
		}
		else if (hl==2){
			h.push(-1*(2+Math.floor(Math.random()*Math.min(h[0]-3,14))));
		}
		if (hl==3){
			h.push(-1*(2+Math.floor(Math.random()*Math.min(h[0]+h[1]-3,14))));
		}
		var v = [];
		if (vl==3){
			v.push(11+Math.floor(Math.random()*17));
		}
		else if (vl==2){
			v.push(3+Math.floor(Math.random()*17));
		}
		else {
			v.push(2+Math.floor(Math.random()*14));
		}
		if (vl==3){
			v.push(-1*(3+Math.floor(Math.random()*Math.min(v[0]-4,17))));
		}
		else if (vl==2){
			v.push(-1*(2+Math.floor(Math.random()*Math.min(v[0]-3,14))));
		}
		if (vl==3){
			v.push(-1*(2+Math.floor(Math.random()*Math.min(v[0]+v[1]-3,14))));
		}
		createArithmetic(12.5,h,v);
		//console.log(h,v);
	}

	
	allEls.sort((a,b) => {return a.c-b.c;});
	for (var i=0;i<allEls.length;i++){
		var el = allEls[i].el;
		el.style.left = (Math.floor(i/6)*100)+"px";
		el.style.top = ((i%6)*100)+"px";
		b.appendChild(el);
	}
}

allEls = [];
createMany();

function testContrast(x,m){
	var elTop = document.getElementById("multiTop");
	var elMid = document.getElementById("multiMid");
	var elBot = document.getElementById("multiBot");

	var cf = Math.floor(contrast(x,m));
	var cc = Math.floor(contrast(x,m))+1;
	
	var dT = document.createElement("div");
	dT.style.background = "rgb("+cf+",128,128)";
	elTop.appendChild(dT);
	var dB = document.createElement("div");
	dB.style.background = "rgb("+cc+",128,128)";
	elBot.appendChild(dB);
	
	var dM = document.createElement("div");
	dM.style.background = "rgb(128,128,128)";
	var dMbg = document.createElement("div");
	dMbg.style.background = "rgb("+x+",128,128)";
	dMbg.style.position = "absolute";
	dM.appendChild(dMbg);
	var dMfg = document.createElement("div");
	dMfg.style.background = "transparent";
	dMfg.style.backdropFilter = "contrast("+m+")";
	dMfg.style.position = "absolute";
	dMfg.textContent = contrast(x,m);
	dM.appendChild(dMfg);
	elMid.appendChild(dM);
}

function contrastL(x,m){
	console.log(x);
	var xs = x/255;
	console.log(xs);
	var y = m*xs+(-1*0.5*m+0.5);

	console.log(y*255);
	//console.log(convertToLRGB(y));
	return y*255;
}
function contrast(x,m){
	console.log(x);
	var xs = convertToLRGB(x);
	console.log(xs);
	var y = m*xs+(-1*convertToLRGB(114.5)*m+convertToLRGB(114.5));

	//console.log(y*255);
	console.log(convertToSRGB(y));
	return convertToSRGB(y);
}
function convertToSRGB(r){


	if (r < 0.0031308){
		rs = 12.92*r;
	}
	else {
		rs = 1.055*Math.pow(r,1/2.4)-0.055;
	}
	return rs*255;
}
function convertToLRGB(r){
	r = r/255
	if (r < 0.04045){
		rl = r/12.92;
	}
	else {
		rl = Math.pow((r+0.055)/1.055,2.4);
	}
	return rl;
}
/*testContrast(97,4);
testContrast(100,4);
testContrast(104,4);
testContrast(108,4);
testContrast(112,4);
testContrast(122,4);
testContrast(135,4);
testContrast(145,4);
testContrast(150,4);
testContrast(155,4);
testContrast(160,4);
testContrast(165,4);*/


</script>
</body>
</html>








