{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 150px;
	--width-center: 200px;
{% endblock %}

{% block titleCSS %}
.title {
	line-height: 2.5rem;
	text-align: center;
	font-size: 1rem;
	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	top:-2px;
  	left:-2px;
  	width: calc(100% + 0px);
  	background: red;
  	background-image: url("../img/farmbg2-40.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	color: white;
  	text-shadow: 0px 0px 10px black;
}
.titleBG {
	background-image: url("../img/ftractor-40.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	transition: background-position 1s linear;
}
.titleBG:hover {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}
.content-31 .title {
	background-image: url("../img/pencilscrop.jpg");
  	background-size: auto 100%;
  	background-repeat: repeat;
}
.content-31 .titleBG {
	background-image: url("../img/pencilscrop.jpg");
  	background-size: auto 100%;
  	background-repeat: repeat;
}
.content-33 .title {
	background-image: url("../img/baseballbg.jpg");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
}
.content-33 .titleBG {
	background-image: url("../img/baseballfg.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
}

{% endblock %}


{% block moreCSS %}
.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}
{% endblock %}


{% block title11 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">What is CSShole?</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
CSShole is a collection of javascript-free web pages.
Each page uses just HTML and CSS to provide interactive elements.
Although 
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">
		<span class="titleLeft">
		
		</span>
		<span class="titleCenter">
			<a href="https://gifsaw.com">Sudoku</a>
		</span>
		<span class="titleRight">
			<label for="radio13-3"><i class="fas fa-expand"></i></label>
			<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
			<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
		
		
		</span>
	</div>
</div>
{% endblock %}
{% block content13 %}

{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG">
		<span class="titleLeft">
		
		</span>
		<span class="titleCenter">
			<a href="https://qblur.com">Quizzes</a>
		</span>
		<span class="titleRight">
			<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
			<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
			<label for="radio31-3"><i class="fas fa-expand"></i></label>
		</span>
	</div>
</div>
{% endblock %}
{% block content31 %}
Quiz your knowledge of Trigonometry, Derivatives, Integrals, Geography, and more.
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">
		<span class="titleLeft">
		
		</span>
		<span class="titleCenter">
			<a href="https://csshole.com">Tables</a>
		</span>
		<span class="titleRight">
			<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
			<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
			<label for="radio33-3"><i class="fas fa-expand"></i></label>
		</span>
	</div>
</div>
{% endblock %}
{% block content33 %}
Sortable Stats
{% endblock %}


{% block content22 %}
	CSShole
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

