<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
.hResize {
	resize: horizontal;
	overflow: hidden;
	transform: scale(5,5);
	height: 50px;
	width: 50px;
	background: yellow;
	position: absolute;
}
.cover {
	height: 50px;
	width: 50px;
	background: rgba(0,0,0,.2);
	position: absolute;
	left: 25px;
	top: 125px;
}
</style>
</head>
<body>
	<div class="hResize">
	</div>
	<div class="cover">
	</div>
</body>
</html>