<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

.input {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 50%;
	display: inline-block;
	border: 1px solid black;
	touch-action: none;
	
}
.output {
	position: absolute;
	left: 0px;
	top:50%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	/*background-image: url("img/pexels-photo-963278.jpeg");
	background-color: black;
	background-size: 300px 300px;*/
	
}
.tools {
	position: absolute;
	left: 300px;
	top:50%;
	display: inline-block;
	
}
.pt {
	position: absolute;
	display: inline-block;
	background: black;
	width: 1px;
	height: 1px;
}



</style>
</head>
<body>
<img id="imgBG" src="img/pexels-photo-963278.jpeg" style="display: none;"/>
<div class="input">

</div>

	<canvas class="output" width="300px" height="300px">
		<svg class="hullSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			{% for idx in range(0,10) %}<path class="convexHull-{{ idx }}" fill="rgba(255,255,255,{{ 0.04 - idx*1.0/400.0 }})" {% if idx == 5 %}stroke="none"{% else %}stroke="none"{% endif %} stroke-width="2" d="M5 5 150 5 295 25 295 275 150 295 5 295Z" />
			{% endfor %}
		</svg>
		<svg class="bgSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

		</svg>
		<svg id="fg" class="fgSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
				<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
				  <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
				  <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
				</linearGradient>
				<radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%" gradientUnits="userSpaceOnUse">
				  <stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:1" />
				  <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
				</radialGradient>
				<pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="100%">
					<image href="img/pnggrad16rgb.png" x="0" y="0" width="100%" height="100%" />
				</pattern>
			</defs>
		</svg>
	</canvas>

<div class="tools">
	<button onclick="selectGroup();">Group</button>
</div>
<script>
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext("2d");
var img = document.getElementById("imgBG");
img.onload = function(){ctx.drawImage(img, 0, 0, 300, 300);}

var curveWorker = new Worker('js/curveWorker.js');
var inputEl = document.querySelector('.input');
var outputEl = document.querySelector('.output');
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointerup',inputUp);

var currentCurve = [];
var allCurves = {};
var isDown = false;
var isGroup = false;

curveWorker.onmessage = function(evt){
	if (evt.data.type == 'inputCurve'){
		for (var i=0;i<evt.data.points.length;i++){
			drawCurveIn(evt.data.points[i]);
		}
	}
	else if (evt.data.type == 'outputCurve'){
		drawCurveOut(evt.data.id,evt.data.pd,evt.data.startPoint,evt.data.endPoint);
	}
	else if (evt.data.type == 'convexHull'){
		drawConvexHull(evt.data.pdArray);
	}
}

function inputDown(evt) {
	console.log(evt);
	currentCurve = [[evt.clientX,evt.clientY]];
	isDown = true;
}
function inputMove(evt) {
	if (isDown){
		curveWorker.postMessage({'type':'move','x':evt.clientX,'y':evt.clientY});
	}
}
function inputUp(evt) {
	if (isDown){
		console.log(evt);
		isDown = false;
		
		curveWorker.postMessage({'type':'up','x':evt.clientX,'y':evt.clientY});
	}
}

function drawCurveIn(pt){
	
	/*for (var i=0;i<currentCurve.length;i++){
		var el = document.createElement('div');
		el.classList.add("pt");
		el.style.left = currentCurve[i][0]+"px";
		el.style.top = currentCurve[i][1]+"px";
		inputEl.appendChild(el);
	}*/
	var el = document.createElement('div');
	el.classList.add("pt");
	el.style.left = pt[0]+"px";
	el.style.top = pt[1]+"px";
	inputEl.appendChild(el);
}
function drawCurveOut(id,pd,startPoint,endPoint){
	var svg = document.querySelector('.output > .bgSVG');
	var path0 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
	path0.setAttribute('d',pd);
	path0.setAttribute('stroke','rgba(255,255,255,.2)');
	path0.setAttribute('stroke-width','11');
	path0.setAttribute('fill','none');
	var cStart0 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cStart0.setAttribute('cx', startPoint[0]);
	cStart0.setAttribute('cy', startPoint[1]);
	cStart0.setAttribute('r', '5.5');
	cStart0.setAttribute('stroke','none');
	cStart0.setAttribute('fill','rgba(255,255,255,.2)');
	svg.appendChild(cStart0);
	var cEnd0 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cEnd0.setAttribute('cx', endPoint[0]);
	cEnd0.setAttribute('cy', endPoint[1]);
	cEnd0.setAttribute('r', '5.5');
	cEnd0.setAttribute('stroke','none');
	cEnd0.setAttribute('fill','rgba(255,255,255,.2)');
	svg.appendChild(cEnd0);
	path0.id = "bbg-"+id;
	svg.appendChild(path0);
	

	var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	
	path.setAttribute('d',pd);
	path.setAttribute('stroke','white');
	path.setAttribute('stroke-width','7');
	path.setAttribute('fill','none');
	var cStart = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cStart.setAttribute('cx', startPoint[0]);
	cStart.setAttribute('cy', startPoint[1]);
	cStart.setAttribute('r', '3.5');
	cStart.setAttribute('stroke','none');
	cStart.setAttribute('fill','white');
	svg.appendChild(cStart);
	var cEnd = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cEnd.setAttribute('cx', endPoint[0]);
	cEnd.setAttribute('cy', endPoint[1]);
	cEnd.setAttribute('r', '3.5');
	cEnd.setAttribute('stroke','none');
	cEnd.setAttribute('fill','white');
	svg.appendChild(cEnd);
	path.id = "bg-"+id;
	svg.appendChild(path);
	
	var svg2 = document.querySelector('.output > .fgSVG');
	var path2 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	path2.setAttribute('d',pd);
	path2.setAttribute('stroke','url(#img1)');
	path2.setAttribute('stroke-width','5');
	path2.setAttribute('fill','none');
	var cStart2 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cStart2.setAttribute('cx', startPoint[0]);
	cStart2.setAttribute('cy', startPoint[1]);
	cStart2.setAttribute('r', '2.5');
	cStart2.setAttribute('stroke','none');
	cStart2.setAttribute('fill','url(#grad2)');
	svg.appendChild(cStart2);
	var cEnd2 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cEnd2.setAttribute('cx', endPoint[0]);
	cEnd2.setAttribute('cy', endPoint[1]);
	cEnd2.setAttribute('r', '2.5');
	cEnd2.setAttribute('stroke','none');
	cEnd2.setAttribute('fill','url(#grad2)');
	svg.appendChild(cEnd2);
	path2.id = "fg-"+id;
	svg2.appendChild(path2);
	
	allCurves[id]= currentCurve;
	console.log(allCurves);
}

function drawConvexHull(pdArray) {
	for (var i=0;i<10;i++){
		var el = document.querySelector('.convexHull-'+i);
		el.setAttribute('d',pdArray[i]);
	}
	
	let outerHTML = document.getElementById("fg").outerHTML;
  	blob = new Blob([outerHTML],{type:'image/svg+xml;charset=utf-8'});
  	let URL = window.URL || window.webkitURL || window;
	let blobURL = URL.createObjectURL(blob);
	var img2 = new Image();
	
	img2.onload = function() {
		ctx.drawImage(img2, 0, 0,300,300);
		var url = canvas.toDataURL();
		console.log(url);
	}
	img2.src = blobURL;

	

}
function selectGroup(){
	isGroup = true;
}

function groupDown() {

}
function groupMove() {

}
function groupUp() {
	isGroup = false;
}
</script>
</body>
</html>

