<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

.input {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 50%;
	display: inline-block;
	border: 1px solid black;
	touch-action: none;
	
}
.output {
	position: absolute;
	left: 0px;
	top:50%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	background: black;
	
}
.tools {
	position: absolute;
	left: 300px;
	top:50%;
	display: inline-block;
	
}
.pt {
	position: absolute;
	display: inline-block;
	background: black;
	width: 1px;
	height: 1px;
}



</style>
</head>
<body>

<div class="input">
</div>

<div class="output">
	<svg class="containerSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<path fill="none" stroke="white" stroke-width="11" d="M0 0 50 0 100 10 100 90 50 100 0 100Z" />
		<path fill="rgba(0,0,0,.25)" stroke="black" stroke-width="5" d="M0 0 50 0 100 10 100 90 50 100 0 100Z" />
	</svg>
	<svg class="bgSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

	</svg>
	<svg class="fgSVG" style="position: absolute; left: 0px; top: 0px;" viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		
	</svg>
</div>
<div class="tools">
	<button onclick="selectGroup();">Group</button>
</div>
<script>
var inputEl = document.querySelector('.input');
var outputEl = document.querySelector('.output');
inputEl.addEventListener('pointerdown',inputDown);
inputEl.addEventListener('pointermove',inputMove);
inputEl.addEventListener('pointerup',inputUp);

var currentCurve = [];
var allCurves = {};
var isDown = false;
var isGroup = false;
function inputDown(evt) {
	console.log(evt);
	currentCurve = [[evt.clientX,evt.clientY]];
	isDown = true;
}
function inputMove(evt) {
	if (isDown){
		currentCurve.push([evt.clientX,evt.clientY]);
		drawCurveIn([evt.clientX,evt.clientY]);
	}
}
function inputUp(evt) {
	if (isDown){
		console.log(evt);
		currentCurve.push([evt.clientX,evt.clientY]);
		isDown = false;
		var curveId = "curve-"+Math.random().toString(36).substr(3,12);
		drawCurveOut(curveId);
	}
}

function drawCurveIn(pt){
	
	/*for (var i=0;i<currentCurve.length;i++){
		var el = document.createElement('div');
		el.classList.add("pt");
		el.style.left = currentCurve[i][0]+"px";
		el.style.top = currentCurve[i][1]+"px";
		inputEl.appendChild(el);
	}*/
	var el = document.createElement('div');
	el.classList.add("pt");
	el.style.left = pt[0]+"px";
	el.style.top = pt[1]+"px";
	inputEl.appendChild(el);
}
function drawCurveOut(id){
	var svg = document.querySelector('.output > .bgSVG');
	var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	var pd = "M"; 
	if (currentCurve.length < 3){
		return;
	}
	pd += " " + currentCurve[0][0];
	pd += " " + currentCurve[0][1];
		
	for (var i=1; i<currentCurve.length - 2; i++){
		pd += " Q " + currentCurve[i][0];
		pd += " " + currentCurve[i][1];
		var xc = (currentCurve[i][0] + currentCurve[i+1][0]) / 2;
		var yc = (currentCurve[i][1] + currentCurve[i+1][1]) / 2;
		pd += " " + xc;
		pd += " " + yc;
	}
	pd += " Q " + currentCurve[currentCurve.length - 2][0];
	pd += " " + currentCurve[currentCurve.length - 2][1];
	pd += " " + currentCurve[currentCurve.length - 1][0];
	pd += " " + currentCurve[currentCurve.length - 1][1];
	console.log(pd);
	path.setAttribute('d',pd);
	path.setAttribute('stroke','white');
	path.setAttribute('stroke-width','11');
	path.setAttribute('fill','none');
	var cStart = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cStart.setAttribute('cx', currentCurve[0][0]);
	cStart.setAttribute('cy', currentCurve[0][1]);
	cStart.setAttribute('r', '5.5');
	cStart.setAttribute('stroke','none');
	cStart.setAttribute('fill','white');
	svg.appendChild(cStart);
	var cEnd = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cEnd.setAttribute('cx', currentCurve[currentCurve.length - 1][0]);
	cEnd.setAttribute('cy', currentCurve[currentCurve.length - 1][1]);
	cEnd.setAttribute('r', '5.5');
	cEnd.setAttribute('stroke','none');
	cEnd.setAttribute('fill','white');
	svg.appendChild(cEnd);
	path.id = "bg-"+id;
	svg.appendChild(path);
	
	var svg2 = document.querySelector('.output > .fgSVG');
	var path2 = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	path2.setAttribute('d',pd);
	path2.setAttribute('stroke','black');
	path2.setAttribute('stroke-width','5');
	path2.setAttribute('fill','none');
	var cStart2 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cStart2.setAttribute('cx', currentCurve[0][0]);
	cStart2.setAttribute('cy', currentCurve[0][1]);
	cStart2.setAttribute('r', '2.5');
	cStart2.setAttribute('stroke','none');
	cStart2.setAttribute('fill','black');
	svg.appendChild(cStart2);
	var cEnd2 = document.createElementNS("http://www.w3.org/2000/svg", 'circle');
	cEnd2.setAttribute('cx', currentCurve[currentCurve.length - 1][0]);
	cEnd2.setAttribute('cy', currentCurve[currentCurve.length - 1][1]);
	cEnd2.setAttribute('r', '2.5');
	cEnd2.setAttribute('stroke','none');
	cEnd2.setAttribute('fill','black');
	svg.appendChild(cEnd2);
	path2.id = "fg-"+id;
	svg2.appendChild(path2);
	
	allCurves[id]= currentCurve;
	console.log(allCurves);
}

function selectGroup(){
	isGroup = true;
}

function groupDown() {

}
function groupMove() {

}
function groupUp() {
	isGroup = false;
}
</script>
</body>
</html>

