<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    {% block meta %}
    <meta name="description" content=".">    <title>CSS City</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">
    {% endblock %}
    


{% block stylesheets %}
{% endblock %}


<style>

.input {
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 50%;
	display: inline-block;
	border: 1px solid black;
	
}
.output {
	position: absolute;
	left: 0px;
	top:50%;
	width: 300px;
	height: 300px;
	display: inline-block;
	border: 1px solid red;
	
}

.pt {
	position: absolute;
	display: inline-block;
	background: black;
	width: 1px;
	height: 1px;
}

</style>
</head>
<body>

<div class="input">
</div>

<div class="output">
	<svg viewBox="0 0 300 300" width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<rect x="0" y="0" width="300" height="300" fill="black" />
	</svg>
</div>
<script>
var inputEl = document.querySelector('.input');
var outputEl = document.querySelector('.output');
inputEl.addEventListener('mousedown',inputDown);
inputEl.addEventListener('mousemove',inputMove);
inputEl.addEventListener('mouseup',inputUp);

var currentCurve = [];
var isDown = false;
function inputDown(evt) {
	console.log(evt);
	inputEl.innerHTML = "";
	currentCurve = [[evt.clientX,evt.clientY]];
	isDown = true;
}
function inputMove(evt) {
	if (isDown){
		currentCurve.push([evt.clientX,evt.clientY]);
		drawCurveIn([evt.clientX,evt.clientY]);
	}
}
function inputUp(evt) {
	if (isDown){
		console.log(evt);
		currentCurve.push([evt.clientX,evt.clientY]);
		isDown = false;
		drawCurveOut();
	}
}

function drawCurveIn(pt){
	
	/*for (var i=0;i<currentCurve.length;i++){
		var el = document.createElement('div');
		el.classList.add("pt");
		el.style.left = currentCurve[i][0]+"px";
		el.style.top = currentCurve[i][1]+"px";
		inputEl.appendChild(el);
	}*/
	var el = document.createElement('div');
	el.classList.add("pt");
	el.style.left = pt[0]+"px";
	el.style.top = pt[1]+"px";
	inputEl.appendChild(el);
}
function drawCurveOut(){
	var svg = document.querySelector('.output > svg');
	var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	var pd = "M"; 
	for (var i=0;i<currentCurve.length;i++){
		pd += " " + currentCurve[i][0];
		pd += " " + currentCurve[i][1];
		
	}
	console.log(pd);
	path.setAttribute('d',pd);
	path.setAttribute('stroke','white');
	path.setAttribute('stroke-width','7');
	path.setAttribute('fill','none');
	svg.appendChild(path);
	
	var path = document.createElementNS("http://www.w3.org/2000/svg", 'path');
	var pd = "M"; 
	for (var i=0;i<currentCurve.length;i++){
		pd += " " + currentCurve[i][0];
		pd += " " + currentCurve[i][1];
		
	}
	path.setAttribute('d',pd);
	path.setAttribute('stroke','black');
	path.setAttribute('stroke-width','5');
	path.setAttribute('fill','none');
	svg.appendChild(path);
}
</script>
</body>
</html>

