

{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 70vh;
	--width-center: calc(25vw + 200px);
	--knob-width: 300px;
	--knob-height: 300px;
	--knob-margin: .5rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/katex.min.css">
{% endblock %}

{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}
.content-31 {
	display: none;
}
.content-33 {
	display: none;
}
.container {
	grid-template-rows: calc((var(--height-container) - var(--height-center))) var(--height-center) 0px;
}

.submitButton, .nextButton {
    
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

}

.nextButton {
		left: 0px;
		top:130px;
		display: none;
}

.submitButton {
		display: inline-block;
		left: 240px;
		top:50px;
}

.submitButton:hover,
.submitButton:focus,
.nextButton:hover,
.nextButton:focus {
    background: #0053ba;
}

.submitButton:focus,
.nextButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.submitButton:active,
.nextButton:active {
    transform: scale(0.99);
}


{% for question in questions %}
	div.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 0px;
		top:0px;
		z-index: {{(question.id*1000)+question.level }};
		width:var(--width-center);
		height:200px;
		background: white;
		display: none;
	}
	input.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 0px;
		top:50px;
		z-index: {{(question.id*1000)+question.level }};
		display: none;
		height: 1.5rem;
		font-size:1rem;
	}
	label.c{{ question.level }}n{{ question.id }} {
		
		z-index: {{(question.id*1000)+question.level }};
		display: none;
	}
	span.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 0px;
		top:100px;
		z-index: {{(question.id*1000)+question.level }};
		display: none;
	}
	
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ .c{{question.level+1}}n{{ question.id }} {
		display: none;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ div.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ input.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ label.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ #q{{question.level+1}}n{{question.id}}NextLabel {
		display: none;
	}
	
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ .c0n{{question.id+1}} {
		display: none;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ div.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ input.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ label.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ #q0n{{question.id+1}}NextLabel {
		display: none;
	}
	
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked + span.correct.c{{question.level}}n{{ question.id }} {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked + span + span.incorrect.c{{question.level}}n{{ question.id }} {
		display: block;
	}
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked + span + span + input + #q{{ question.level }}n{{ question.id }}NextLabel {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked + span + span + input + #q{{ question.level }}n{{ question.id }}NextLabel {
		display: block;
	}
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked ~ .block{{question.level+1}} {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked ~ .block0 {
		display: block;
	}

	

{% endfor %}
input:valid + input:checked + span.correct {
	display: block;
}

input:not(:valid) + input:checked + span + span.incorrect {
	display: block;
}
div.c0n1 {
	display: inline-block;
}
input.c0n1 {
	display: inline-block;
}
label.c0n1:not(.nextButton) {
	display: inline-block;
}

.blockBase {
	position: absolute;
	left: 0px;
	top: 200px;
	height: 20px;
	background: white;
	z-index: 1;
	display: inline-block;
}
.blockBase svg{
	width: {{nlevels*20}}px;
	height: 20px;
}
{% for i in range(1,nlevels+2) %}
.block{{i-1}} {
	position: absolute;
	left: 0px;
	top: 200px;
	height: 20px;
	background: rgba(0,0,0,0);
	z-index: {{i*1000}};
	display: none;
}
.block{{i-1}} svg{
	width: {{nlevels*20}}px;
	height: 20px;
}

{% endfor %}

{% if type== "trig" %}
@keyframes example {
    from {z-index: 1000;}
    to {z-index: -1;}
}
.svgregion {
	position: absolute;
	top:var(--knob-margin);
	left:var(--knob-margin);
	width: calc(var(--knob-width) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
	
}
.svgborder {
	position: absolute;
	top:calc( var(--knob-margin) - 10px);
	left:calc( var(--knob-margin) - 10px);
	width: calc(var(--knob-width) - 2 * var(--knob-margin) + 20px);
	height: calc(var(--knob-height) - 2 * var(--knob-margin) + 20px);
	z-index: 1;
	opacity: 0.0;
}
.svgborder:hover {
	opacity: 0.0;
	z-index: 1000;
	animation-name: example;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

.knob {
	pointer-events: none;
	position: absolute;
	left: calc(2 * var(--knob-margin));
	top: calc(2 * var(--knob-margin));
	height: var(--knob-width);
	width: var(--knob-height);
	background: gray;
}
#radio13-2:checked ~ .content-13 {
	grid-row:  1 / 3;
	grid-column:  2 / 4;
	z-index: 200000;
}
#radio13-3:checked ~ .content-13 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 300000;
}


{% for turn in range(1,nturns+1) %}
	.turn{{ turn }} polygon{
		fill:rgba({{turn*0}},0,0,0.0);
	}
{% endfor %}

{% set halfnturns = nturns/2 %}
{% for turn in range(1,nturns+1) %}
	{% for angle in range(1,nangles+1) %}
		{%if turn < halfnturns %}
			#wedge{{ angle }}t{{ turn }} {
				z-index: {{((nturns +1-turn)*(nangles))+((nangles)-angle) }};
			}
			.svgborder:hover ~ #wedge{{ angle }}t{{ turn }} {
				z-index: 1;
			}
		{% endif %}
		{%if turn >= halfnturns %}
			#wedge{{ angle }}t{{ turn }} {
				z-index: {{((nturns +1-turn)*(nangles))+((nangles)-angle) }};
			}
		{% endif %}
	{% endfor %}

{% endfor %}

#wedge{{ nangles }}t1:hover {
	z-index: {{((nturns)*(nangles))-2}};
}

#wedge{{ nangles }}t1:hover ~ #wedge1t1 {
	z-index: 1;
}


.svgneedle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc(var(--knob-height) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
}
div.displayAngle {
	display: none;
	position: absolute;
	left: calc(var(--knob-width));
	top: calc(2 * var(--knob-margin));
	background: yellow;
	width: calc(var(--knob-margin));
	height: 20px;
}
div.displayNeedle {
	display: none;
	position: absolute;
	top:calc(var(--knob-margin));
	left:calc(var(--knob-margin));
	width: calc(var(--knob-height) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
	z-index: 1000;
	pointer-events: none;
}
{% for turn in range(1,nturns+1) %}
	{% for angle in range(1,nangles+1) %}
		#wedge{{ angle }}t{{turn+0}}:hover ~ div.c{{ angle }}t{{turn+0}} {
			display: inline-block;
		}
		#wedge{{ angle }}t{{turn+0}}:hover ~ div.needle{{ angle }}t{{turn+0}} {
			display: inline-block;
		}
	{% endfor %}
	{% if turn> 1 %}
		#wedge1t{{turn+0}}:hover  {
			z-index: {{((nturns)*(nangles))+(nangles)}};
		}
		#wedge1t{{turn+0}}:hover ~ #wedge2t{{turn+0}} {
			z-index: {{((nturns)*(nangles))+((nangles)+1)}};
		}
		#wedge1t{{turn+0}}:hover ~ #wedge3t{{turn+0}} {
			z-index: {{((nturns)*(nangles))+((nangles)+2)}};
		}
		#wedge1t{{turn+0}}:hover ~ .angle2:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:hover ~ .angle3:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:hover ~ .angle{{ nangles }}:not(.turn{{turn-1}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:hover ~ .angle{{nangles-1}}:not(.turn{{turn -1}}) {
			z-index: 1;
		}
		{% for angle in range(1,nangles) %}
			{% if angle >1 %}
				#wedge{{ angle }}t{{turn+0}}:hover  {
					z-index: {{((nturns)*(nangles))+(nangles)}};
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ #wedge{{angle+1}}t{{turn+0}} {
					z-index: {{((nturns)*(nangles))+((nangles)+1)}};
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ #wedge{{angle+2}}t{{turn+0}} {
					z-index: {{((nturns)*(nangles))+((nangles)+2)}};
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ .angle{{angle+1}}:not(.turn{{turn+0}}) {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ .angle{{angle+2}}:not(.turn{{turn+0}}) {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ .angle{{angle-1}} {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:hover ~ .angle{{angle-2}} {
					z-index: 1;
				}
			{% endif %}
		{% endfor %}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ #wedge2t{{turn+0}} {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ #wedge1t{{turn+0}} {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover {
			z-index: {{(nturns)*(nangles)+ 2+(-1*turn *nangles)}};
		}
		
		#wedge{{ nangles }}t{{turn+0}}:hover ~ .angle{{ nangles }}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ .angle{{(nangles) -1}}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ .angle{{(nangles) -2}}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ .angle1:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:hover ~ .angle2:not(.turn{{turn+0}}) {
			z-index: 1;
		}

	{% endif %}
{% endfor %}
{% endif %}

{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">More Quizzes</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
	
</div>
{% endblock %}
{% block content11 %}
		Trig
		Derivatives
{% endblock %}	

{% block title13 %}

{% if type=="trig" %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">Trig Angles</a>
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
	
</div>
{% endif %}
{% endblock %}

{% block content13 %}
{% if type=="trig" %}
<div class="content">
	<div class="knob">
		<svg viewBox="-100 -100 200 200" class="svgborder">
			<polygon stroke="rgb(200,200,200)" stroke-width="0" points="-100,-100 100,-100 100,100 -100,100 -100,-100" pointer-events="all"></polygon>
		</svg>
		{% set halfnturns = nturns/2 %}
		{%for turn in range(1,nturns+1) %}
			<svg viewBox="-100 -100 200 200" class="svgregion turn{{nturns + 1 - turn }} angle16" id="wedge16t{{nturns + 1 - turn }}">
				<polygon stroke="rgb(200,200,200)" stroke-width="0" points="0,0 147,135 199,17 0,0" pointer-events="all"></polygon>
			</svg>
			{% set idx = 0 %}
			{% for angle in angles %}
				{%if idx<15 %}
				<svg viewBox="-100 -100 200 200" class="svgregion turn{{nturns + 1 - turn }} angle{{idx + 1}}" id="wedge{{idx + 1}}t{{nturns + 1 - turn }}">
					<polygon stroke="rgb(200,200,200)" stroke-width="0" points="0,0 {{ angle.points }} 0,0" pointer-events="all"></polygon>
					<circle cx="0" cy="0" r="30" stroke="black" stroke-width="3" fill="red" pointer-events="all" />
				</svg>
				{% endif %}
				{% set idx= idx+1 %}
			{% endfor %}

			
		{% endfor %}
		{% for turn in range(1,nturns+1) %}
			{% set idx = 0 %}
			{% for angle in angles %}
				<div class="c{{idx + 1}}t{{turn}} displayAngle">{{angle.numer + (turn - halfnturns) * (2*angle.denom) }}pi/{{angle.denom}}</div>
				<div class="needle{{idx + 1}}t{{turn}} displayNeedle" style="pointer-events: none;">
					<svg viewBox="-100 -100 200 200" class="svgneedle">
						<polygon stroke="rgb(200,200,200)" stroke-width="3" points="0,0 {{ angle.needle }} 0,0"></polygon>
					</svg>
				</div>
				{% set idx= idx+1 %}
			{% endfor %}
		{% endfor %}
	
	</div>
</div>
{% endif %}
{% endblock %}	




{% block content22 %}
	<div style="position: relative;">
		  <div class="blockBase">
		  	<svg viewBox="0 0 {{nlevels*20}} 20">
		  		{% for nspan in range(1,nlevels+1) %}
					<circle cx="{{(nspan*20)-10}}" cy="10" r="9" stroke="gray" fill="white" stroke-width="1" pointer-events="fill"></circle>
				{% endfor %}

			</svg>
		  </div>
		{% for question in questions %}
			<div class="c{{ question.level }}n{{ question.id }}">{{ question.question | safe}}</div>
		  <input type="text" pattern="{{ question.answer | safe}}" title="" class="c{{ question.level }}n{{ question.id }}" required>
		  <input type="radio" name="submitAnswer" id="q{{ question.level }}n{{ question.id }}" style="display: none;">
		  <span class="correct c{{ question.level }}n{{ question.id }}">Good!</span>
		  <span class="incorrect c{{ question.level }}n{{ question.id }}">Wrong!</span>
		  <input type="radio" name="nextQuestion" id="q{{ question.level }}n{{ question.id }}Next" style="display: none;">
		  <label for="q{{ question.level }}n{{ question.id }}Next" id="q{{ question.level }}n{{ question.id }}NextLabel" class="c{{ question.level }}n{{ question.id }} nextButton">Next Question</label>
		  <label for="q{{ question.level }}n{{ question.id }}" class="c{{ question.level }}n{{ question.id }} submitButton">Submit</label>

		  <div class="block{{ question.level }}">
		  	<svg viewBox="0 0 {{nlevels*20}} 20">
		  		{% for nspan in range(1,nlevels+1) %}
		  			{% if nspan <= question.level %}
						<circle cx="{{(nspan*20)-10}}" cy="10" r="9" stroke="gray" fill="green" stroke-width="1" pointer-events="fill"></circle>
					{% else %}
						<circle cx="{{(nspan*20)-10}}" cy="10" r="9" stroke="gray" fill="rgba(0,0,0,0)" stroke-width="1" pointer-events="fill"></circle>
					{% endif %}
				{% endfor %}
			</svg>
		  </div>
		  

		{% endfor %}
		
	</div>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

