
.content-11 {
	display: none;
}
.content-13 {
	display: none;
}
.content-31 {
	display: none;
}

div.container {
	grid-template-rows: 0px var(--height-center) calc((var(--height-container) - var(--height-center)));
}

.submitButton, .nextButton {
    
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

}

.nextButton {
		left: 1rem;
		top:11rem;
		display: none;
}

.submitButton {
		display: inline-block;
		left: 1rem;
		top:5.5rem;
}

.submitButton:active,
.submitButton:focus,
.nextButton:active,
.nextButton:focus {
    background: #0053ba;
}

.submitButton:focus,
.nextButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.submitButton:active,
.nextButton:active {
    transform: scale(0.99);
}


{% for question in questions %}
	div.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 0px;
		top:0px;
		z-index: {{(question.id*1000)+question.level }};
		width:var(--width-center);
		height:14.5rem;
		background: white;
		display: none;
	}
	div.c{{ question.level }}n{{ question.id }} > span{
		position: relative;
		left: 1rem;
		top:.5rem;
	}
	input.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 1rem;
		top:50px;
		z-index: {{(question.id*1000)+question.level }};
		display: none;
		height: 1.5rem;
		font-size:1rem;
	}
	label.c{{ question.level }}n{{ question.id }} {
		
		z-index: {{(question.id*1000)+question.level }};
		display: none;
	}
	span.c{{ question.level }}n{{ question.id }} {
		position: absolute;
		left: 1rem;
		top:8.5rem;
		z-index: {{(question.id*1000)+question.level }};
		display: none;
	}
	
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ .c{{question.level+1}}n{{ question.id }} {
		display: none;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ div.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ input.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ label.c{{question.level+1}}n{{ question.id }} {
		display: inline-block;
	}
	input:valid + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ #q{{question.level+1}}n{{question.id}}NextLabel {
		display: none;
	}
	
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ .c0n{{question.id+1}} {
		display: none;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ div.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ input.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ label.c0n{{question.id+1}} {
		display: inline-block;
	}
	input:not(:valid) + input + span + span + #q{{ question.level }}n{{ question.id }}Next:checked ~ #q0n{{question.id+1}}NextLabel {
		display: none;
	}
	
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked + span.correct.c{{question.level}}n{{ question.id }} {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked + span + span.incorrect.c{{question.level}}n{{ question.id }} {
		display: block;
	}
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked + span + span + input + #q{{ question.level }}n{{ question.id }}NextLabel {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked + span + span + input + #q{{ question.level }}n{{ question.id }}NextLabel {
		display: block;
	}
	input:valid + input#q{{ question.level }}n{{ question.id }}:checked ~ .block{{question.level+1}} {
		display: block;
	}
	input:not(:valid) + input#q{{ question.level }}n{{ question.id }}:checked ~ .block0 {
		display: block;
	}

	

{% endfor %}
input:valid + input:checked + span.correct {
	display: block;
}

input:not(:valid) + input:checked + span + span.incorrect {
	display: block;
}
div.c0n1 {
	display: inline-block;
}
input.c0n1 {
	display: inline-block;
}
label.c0n1:not(.nextButton) {
	display: inline-block;
}

.blockBase {
	position: absolute;
	left: 0px;
	top: 14.5rem;
	height: 1.5rem;
	background: white;
	z-index: 1;
	display: inline-block;
	width:100%;
}
.blockBase svg{
	width: {{nlevels*1.5}}rem;
	height: 1.5rem;
}
{% for i in range(1,nlevels+2) %}
.block{{i-1}} {
	position: absolute;
	left: 0px;
	top: 14.5rem;
	height: 1.5rem;
	background: rgba(0,0,0,0);
	z-index: {{i*1000}};
	display: none;
}
.block{{i-1}} svg{
	width: {{nlevels*1.5}}rem;
	height: 1.5rem;
}

{% endfor %}

{% if type== "trig" %}
@keyframes example {
    from {z-index: 1000;}
    to {z-index: -1;}
}
.svgregion {
	position: absolute;
	top:var(--knob-margin);
	left:var(--knob-margin);
	width: calc(var(--knob-width) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
	
}
.svgborder {
	position: absolute;
	top:calc( var(--knob-margin) - 10px);
	left:calc( var(--knob-margin) - 10px);
	width: calc(var(--knob-width) - 2 * var(--knob-margin) + 20px);
	height: calc(var(--knob-height) - 2 * var(--knob-margin) + 20px);
	z-index: 1;
	opacity: 0.0;
}
.svgborder:active {
	opacity: 0.0;
	z-index: 1000;
	animation-name: example;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

.knob {
	pointer-events: none;
	position: absolute;
	top: calc(2 * var(--knob-margin));
	right: calc(2 * var(--knob-margin));
	height: var(--knob-width);
	width: var(--knob-height);
	background: gray;
	z-index:100000;
}
.content-33 .title {
	background-image: url("../img/pencilscrop.jpg");
  	background-size: auto 100%;
  	background-repeat: repeat;
}

.content-33 {
	grid-column: 2;
	grid-row: 3;
	z-index: 11;
}
#radio33-1:checked ~ .content-33 {
	grid-row:  3;
	grid-column:  2;
	z-index: 11;
}
#radio33-2:checked ~ .content-33 {
	grid-row:  3;
	grid-column:  1 / 4;
	z-index: 12;
}
#radio33-3:checked ~ .content-33 {
	grid-row:  1 / 4;
	grid-column:  1 / 4;
	z-index: 13;
}

{% for turn in range(1,nturns+1) %}
	.turn{{ turn }} polygon{
		fill:rgba({{turn*0}},0,0,0.0);
	}
{% endfor %}

{% set halfnturns = nturns/2 %}
{% for turn in range(1,nturns+1) %}
	{% for angle in range(1,nangles+1) %}
		{%if turn < halfnturns %}
			#wedge{{ angle }}t{{ turn }} {
				z-index: {{((nturns +1-turn)*(nangles))+((nangles)-angle) }};
			}
			.svgborder:active ~ #wedge{{ angle }}t{{ turn }} {
				z-index: 1;
			}
		{% endif %}
		{%if turn >= halfnturns %}
			#wedge{{ angle }}t{{ turn }} {
				z-index: {{((nturns +1-turn)*(nangles))+((nangles)-angle) }};
			}
		{% endif %}
	{% endfor %}

{% endfor %}

#wedge{{ nangles }}t1:active {
	z-index: {{((nturns)*(nangles))-2}};
}

#wedge{{ nangles }}t1:active ~ #wedge1t1 {
	z-index: 1;
}


.svgneedle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc(var(--knob-height) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
}
div.displayAngle {
	display: none;
	position: absolute;
	left: calc(50% - .75rem);
	top: calc(50% - .75rem);
	background: transparent;
	line-height:1.5rem;
	width: 3rem;
	height: 1.5rem;
	z-index:100001;
}
div.innerDisplay {
	display: inline-block;
	margin:auto;
	position: relative;
	text-align: center;
	line-height:1.5rem;
	color:white;
}
div.displayNeedle {
	display: none;
	position: absolute;
	top:calc(var(--knob-margin));
	left:calc(var(--knob-margin));
	width: calc(var(--knob-height) - 2 * var(--knob-margin));
	height: calc(var(--knob-height) - 2 * var(--knob-margin));
	z-index: 100000;
	pointer-events: none;
}
{% for turn in range(1,nturns+1) %}
	{% for angle in range(1,nangles+1) %}
		#wedge{{ angle }}t{{turn+0}}:active ~ div.c{{ angle }}t{{turn+0}} {
			display: inline-block;
		}
		#wedge{{ angle }}t{{turn+0}}:active ~ div.needle{{ angle }}t{{turn+0}} {
			display: inline-block;
		}
	{% endfor %}
	{% if turn> 1 %}
		#wedge1t{{turn+0}}:active  {
			z-index: {{((nturns)*(nangles))+(nangles)}};
		}
		#wedge1t{{turn+0}}:active ~ #wedge2t{{turn+0}} {
			z-index: {{((nturns)*(nangles))+((nangles)+1)}};
		}
		#wedge1t{{turn+0}}:active ~ #wedge3t{{turn+0}} {
			z-index: {{((nturns)*(nangles))+((nangles)+2)}};
		}
		#wedge1t{{turn+0}}:active ~ .angle2:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:active ~ .angle3:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:active ~ .angle{{ nangles }}:not(.turn{{turn-1}}) {
			z-index: 1;
		}
		#wedge1t{{turn+0}}:active ~ .angle{{nangles-1}}:not(.turn{{turn -1}}) {
			z-index: 1;
		}
		{% for angle in range(1,nangles) %}
			{% if angle >1 %}
				#wedge{{ angle }}t{{turn+0}}:active  {
					z-index: {{((nturns)*(nangles))+(nangles)}};
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ #wedge{{angle+1}}t{{turn+0}} {
					z-index: {{((nturns)*(nangles))+((nangles)+1)}};
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ #wedge{{angle+2}}t{{turn+0}} {
					z-index: {{((nturns)*(nangles))+((nangles)+2)}};
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ .angle{{angle+1}}:not(.turn{{turn+0}}) {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ .angle{{angle+2}}:not(.turn{{turn+0}}) {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ .angle{{angle-1}} {
					z-index: 1;
				}
				#wedge{{ angle }}t{{turn+0}}:active ~ .angle{{angle-2}} {
					z-index: 1;
				}
			{% endif %}
		{% endfor %}
		#wedge{{ nangles }}t{{turn+0}}:active ~ #wedge2t{{turn+0}} {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active ~ #wedge1t{{turn+0}} {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active {
			z-index: {{(nturns)*(nangles)+ 2+(-1*turn *nangles)}};
		}
		
		#wedge{{ nangles }}t{{turn+0}}:active ~ .angle{{ nangles }}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active ~ .angle{{(nangles) -1}}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active ~ .angle{{(nangles) -2}}:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active ~ .angle1:not(.turn{{turn+0}}) {
			z-index: 1;
		}
		#wedge{{ nangles }}t{{turn+0}}:active ~ .angle2:not(.turn{{turn+0}}) {
			z-index: 1;
		}

	{% endif %}
{% endfor %}
{% endif %}

@media screen and (max-width: 600px) {
	div.container {
		--width-center: var(--width-container);
		grid-template-rows: var(--height-center) 1fr auto;
		grid-template-columns: 1fr;
		width: var(--width-container);
		overflow: hidden;
		--knob-width: calc(13rem);
	}


	label.basic {
		padding: .2rem .4rem;
		border-radius: .6rem;
		margin: .1rem 0rem;
		font-size: .9rem;
		line-height: 1.6rem;
		height: 1.6rem;
	}
	.content-33 {
		grid-column: 1;
		grid-row: 2;
		z-index: 11;
	}
	#radio33-1:checked ~ .content-33 {
		grid-row:  2;
		grid-column:  1;
		z-index: 11;
	}
	#radio33-2:checked ~ .content-33 {
		grid-row:  2 / 4;
		grid-column:  1;
		z-index: 12;
	}
	#radio33-3:checked ~ .content-33 {
		grid-row:  2 / 4;
		grid-column:  1;
		z-index: 13;
	}

}
@media screen and (max-width: 480px) {
	div.container {
		--knob-width: calc(85vw - 12.5rem);
	}
}