
{% extends "templates/base.html" %}
{% block stylesheets %}
{% if isPitchers %}
<link rel="stylesheet" href="../css/sortablePitchers.css">
{% else %}
<link rel="stylesheet" href="../css/sortableBatters.css">
{% endif %}
{% endblock %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}



{% block titleCSS %}



{% endblock %}


{% block moreCSS %}
div.container {
	--height-center: 35rem;
	--width-center: 45rem;
}


{% for i in range(1,ncols+1) %}
	#delete-col{{ i }}:checked ~ div .sortable-col{{ i }} { display: none; }
	{% for ii in range(1,nrows+1) %}
		{% if order[i-1][ii-1] == -1 %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { display: none; }
		{% else %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { order: {{ order[i-1][ii-1] }}; }
		{% endif %}
	{% endfor %}
{% endfor %}

{% endblock %}

{% block bodyStart %}
	<input type="radio" name="radio100" id="radio000"></input>
	<input type="radio" name="radio100" id="radio100" checked></input>
	{% for i in range(2,10) %}
	<input type="radio" name="radio100" id="radio{{ i}}00"></input>
	{% endfor %}

	<input type="radio" name="radio10" id="radio00" checked></input>
	{% for i in range(1,10) %}
	<input type="radio" name="radio10" id="radio{{ i}}0"></input>
	{% endfor %}
	
	<input type="radio" name="radio1" id="radio0" checked></input>
	{% for i in range(1,10) %}
	<input type="radio" name="radio1" id="radio{{ i}}"></input>
	{% endfor %}
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		Options
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}

<div id="minPA">
	Min {{ minstat }}: <span class="hundreds-0"></span>{% for i in range(1,10) %}<span class="hundreds-{{ i }}">{{ i}}</span>{% endfor %}{% for i in range(0,10) %}<span class="tens-{{ i }}">{{ i}}</span>{% endfor %}{% for i in range(0,10) %}<span class="ones-{{ i }}">{{ i}}</span>{% endfor %}
	<div>
		<div id="hundredsColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}00">{{i}}</label>
			{% endfor %}
		</div>
		<div id="tensColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}0">{{i}}</label>
			{% endfor %}
		</div>
		<div id="onesColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}">{{i}}</label>
			{% endfor %}
		</div>
	</div>
</div>
<form  action="../sortable.html" method="get" id="newTable">
	<div>New Table:</div>
	<select name="p">
		<option value="false">Batters</option>
		<option value="true">Pitchers</option>
	</select>
	<input name="y" type="number" min="1871" max="2019" value="2019"></input>
	<div>
		<button type="submit" class="basic">Submit</button>
	</div>
	<div>
		<a class="basic" href="../">Home</a>
	</div>
</form>
{% endblock %}	

{% block title13 %}

{% endblock %}
{% block content13 %}

{% endblock %}	

{% block title31 %}

{% endblock %}
{% block content31 %}
{% endblock %}




{% block content22 %}
	<input type="radio" name="sorterDirection" id="sort-ascending" checked></input>
	<input type="radio" name="sorterDirection" id="sort-descending"></input>

	<input type="radio" name="pageNumber" id="page1" checked></input>
	<input type="radio" name="pageNumber" id="page2"></input>
	<input type="radio" name="pageNumber" id="page3"></input>
	<input type="radio" name="pageNumber" id="page4"></input>
	<input type="radio" name="pageNumber" id="page5"></input>
	
	<div class="tableHolder">
		{% for i in range(1,ncols+1) %}
				<input type="checkbox" name="deleter" id="delete-col{{ i }}"></input>
		{% endfor %}
		
		<div class="sortable-header">
			{% for i in range(1,ncols+1) %}<label class="header-cell sortable-col{{ i }}" for="sort-col{{ i }}"><b>{{ header[i-1] | safe}}</b></label><label class="deleteColumn header-cell sortable-col{{ i }}" for="delete-col{{ i }}"></label>{% endfor %}
		</div>
	
		<div class="sortHolder">
			<div class="sortable">
			
			
				
				{% for i in range(1,ncols+1) %}
				<input type="radio" name="sorter" id="sort-col{{ i }}" {% if i == 4 %}checked{% endif %}></input>
				{% endfor %}
		
				{% for ii in range(1,nrows+1) %}
					<div class="sortable-row{{ ii }} {{ minList[ii-1]}}">{% for i in range(1,ncols+1) %}<div class="data-cell sortable-col{{ i }} ">{{ content[ii-1][i-1] | safe}}</div>{% endfor %}</div>
				{% endfor %}


			</div>
		</div>
	</div>
	<div>
		<span style="float: left;">
			
			Sort Order: 
			<label for="sort-ascending" class="basic">Descending</label>
			<label for="sort-descending" class="basic">Ascending</label>
		</span>
		<span style="float: right;">
			Page: 
			<label for="page1" class="basic">1</label>
			<label for="page2" class="basic">2</label>
			<label for="page3" class="basic">3</label>
			<label for="page4" class="basic">4</label>
			<label for="page5" class="basic">5</label>
		</span>
	</div>
{% endblock %}





{% block scripts %}

{% endblock %}






