
{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}

{% block centerSize %}
	--height-center: 35rem;
	--width-center: 45rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}
div.container {
	grid-template-rows: 1fr var(--height-center) 1fr;
	grid-template-columns: 1fr var(--width-center) 0px;
}


.title:hover .titleBG {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}
.titleBG {
  	background-position: -50px 0px;
  	transition: all 2s linear;
}
.content-33 .title {
	background-image: url("../img/baseballbg.jpg");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
}
.content-33 .titleBG {
	background-image: url("../img/baseballfg.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 100%;
}

.content-33 {
	grid-column: 1;
	grid-row: 2;
	z-index: 11;
}
#radio33-1:checked ~ .content-33 {
	grid-row:  2;
	grid-column:  1;
	z-index: 11;
}
#radio33-3:checked ~ .content-33 {
	grid-row:  2 / 4;
	grid-column:  1;
	z-index: 13;
}

.content-11 {
	display: none;
}
.content-13 {
	display: none;
}
.content-22 {
	overflow: visible;
	overflow-x: auto;
}
.content-31 {
	display: none;
}

.content-23 {
	display: none;
}


.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}


.sortable {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  margin: 0 0 3em 0;
  padding: 0;
}
.sortable a {
	text-decoration: none;
}
.sortable a:hover {
	text-decoration: underline;
}


{% for i in range(1,ncols) %} .sortable-col{{ i }}, {% endfor %}{% for i in range(ncols,ncols+1) %} .sortable-col{{ i }} {% endfor %} {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;  // Default to full width
  padding: 0.2em .4em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid 1px black;
  border-bottom: solid 1px gray;
  border-top: solid 0px;
}



.data-cell, .header-cell {
	width: calc( (100% - 8rem - 3rem * {{ widecols.length }})/{{ ncols - 2 - widecols.length }});
	text-align: right;
	padding: 0px 2px;
	border-right: 0px solid black;
	border-left: 0px solid black;
	max-height: 1.2rem;
	line-height: 1.2rem;
	font-size: .95rem;
	overflow: hidden;
}


.data-cell.sortable-col1, .header-cell.sortable-col1 { 
	width: 6rem;
	font-size: .9rem;
	text-align: left;
}




.deleteColumn {
	display: none;
}
.header-cell:Not(.deleteColumn) {
	position: absolute;
	z-index: 100;
	background:white;
}
.header-cell:Not(.deleteColumn):active {
	z-index: 201;
}
.header-cell:Not(.deleteColumn):active + .deleteColumn{
	z-index: 200;
	transition: z-index 30ms linear;
}
.header-cell + .deleteColumn {
	position: relative;
	display: inline-block;
	background: blue;
	z-index: 99;
	height: 1.2rem;
	left:0px;
	top:0px;
	transition: z-index 500ms linear;
}





.data-cell.sortable-col2, .header-cell.sortable-col2  { 
	width: 2rem;
	font-size: .9rem;
	text-align: left;
}
{% for i in widecols %}
.data-cell.sortable-col{{i+1}}, .header-cell.sortable-col{{i+1}}  { 
	width: 3rem;
}
{% endfor %}

.header-cell.sortable-col1, .header-cell.sortable-col2  { 
	font-size: .95rem;
	text-align: center;
}



.sortable-header  { 
	width: 100%;
	padding: 0px;
	background: white;
	height: 1.2rem;
}

#hundredsColumn {
	display: inline-block;
	width: 1rem;
}
#hundredsColumn > label {
	display: block;
}
#tensColumn {
	display: inline-block;
	width: 1rem;
}
#tensColumn > label {
	display: block;
}
#onesColumn {
	display: inline-block;
	width: 1rem;
}
#onesColumn > label {
	display: block;
}
{% for i in range(0,10) %}
	#radio{{ i }}00:checked ~ div.container label[for=radio{{ i }}00] { color: red;}
	#radio{{ i }}0:checked ~ div.container label[for=radio{{ i }}0] { color: red;}
	#radio{{ i }}:checked ~ div.container label[for=radio{{ i }}] { color: red;}
{% endfor %}
{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}00:checked ~ div.container  .min-{{ i }}00  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}0:checked ~ div.container  .min-{{ i }}0  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}:checked ~ div.container  .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(10,100) %}
	{% set r = i%10 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-r)/10) }}0:checked ~ #radio{{ ii }}:checked ~ div.container  .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(10,100) %}
	{% set r = i%10 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-r)/10) }}00:checked ~ #radio{{ ii }}0:checked ~ div.container  .min-{{ i }}0  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(100,1000) %}
	{% set r = i%10 %}
	{% set rr = i%100 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-rr)/100) }}00:checked ~ #radio{{ ((i-r)/10) % 10 }}0:checked ~ #radio{{ ii }}:checked ~ div.container .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,nrows+1) %}
	.sortable-row{{ i }}  { order: {{ i }}; flex-grow: 1; width: 100%; padding: 0px; height: 1.2rem;}
{% endfor %}

{% for i in range(1,ncols+1) %}
	#delete-col{{ i }}:checked ~ div .sortable-col{{ i }} { display: none; }
	{% for ii in range(1,nrows+1) %}
		{% if order[i-1][ii-1] == -1 %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { display: none; }
		{% else %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { order: {{ order[i-1][ii-1] }}; }
		{% endif %}
	{% endfor %}
{% endfor %}
.sortHolder{
	overflow: hidden;
	height: 30rem;
}
.sortable {
	top: 0rem;
	position: relative;
	overflow: visible;
}
#page1:checked ~ .tableHolder .sortable {
	top: 0rem;
}
#page2:checked ~ .tableHolder .sortable {
	top: -30rem;
}
#page3:checked ~ .tableHolder .sortable {
	top: -60rem;
}
#page4:checked ~ .tableHolder .sortable {
	top: -90rem;
}
#page5:checked ~ .tableHolder .sortable {
	top: -120rem;
}
#sort-ascending:checked ~ .tableHolder .sortable {
	flex-direction: column;
}
#sort-descending:checked ~ .tableHolder .sortable {
	flex-direction: column-reverse;
}

label.basic {
	color: #fff !important;
	text-decoration: none;
	background: #aa2233;
	padding: .4rem .8rem;
	border-radius: .6rem;
	border: 1px solid black;
	margin: .2rem 0rem;
	transition: all 0.4s ease 0s;
	font-size: 1rem;
	line-height: 2rem;
	height: 2rem;
}
label.basic:hover {
	background: #662222;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

#page1:checked ~ div > span > label[for="page1"] {
	background: #22aa33;
}
#page2:checked ~ div > span > label[for="page2"] {
	background: #22aa33;
}
#page3:checked ~ div > span > label[for="page3"] {
	background: #22aa33;
}
#page4:checked ~ div > span > label[for="page4"] {
	background: #22aa33;
}
#page5:checked ~ div > span > label[for="page5"] {
	background: #22aa33;
}

#sort-ascending:checked ~ div > span > label[for="sort-ascending"] {
	background: #22aa33;
}
#sort-descending:checked ~ div > span > label[for="sort-descending"] {
	background: #22aa33;
}



@media screen and (max-width: 450px) {
	div.container {
		--height-center: 35rem;
		--width-center: 0rem;
		grid-template-rows: var(--height-center) 1fr;
		grid-template-columns: 1fr;
		height: 45rem;
		width: var(--width-container);
		font-size: .8rem;
	}
	{% for i in range(1,ncols) %} .sortable-col{{ i }}, {% endfor %}{% for i in range(ncols,ncols+1) %} .sortable-col{{ i }} {% endfor %} {
	  padding: 0.1em .2em;
	}

	.data-cell, .header-cell {
		width: calc( (36rem - 7.5rem - 2rem * {{ widecols.length }})/{{ ncols - 2 - widecols.length }});
		max-height: 1.2rem;
		line-height: 1.2rem;
		font-size: .8rem;
	}

	.data-cell.sortable-col1, .header-cell.sortable-col1 { 
		width: 5.5rem;
		font-size: .75rem;
	}

	.data-cell.sortable-col2, .header-cell.sortable-col2  { 
		width: 2rem;
		font-size: .8rem;
	}
	{% for i in widecols %}
	.data-cell.sortable-col{{i+1}}, .header-cell.sortable-col{{i+1}}  { 
		width: 2rem;
		font-size: .8rem;
	}
	{% endfor %}

	.header-cell.sortable-col1, .header-cell.sortable-col2  { 
		font-size: .8rem;
	}
	label.basic {
		padding: .2rem .4rem;
		border-radius: .6rem;
		margin: .1rem 0rem;
		font-size: .9rem;
		line-height: 1.6rem;
		height: 1.6rem;
	}
	.tableHolder {
		width: 36rem;
	}
}

{% for i in range(1,ncols) %} #sort-col{{ i }}, {% endfor %}{% for i in range(ncols,ncols+1) %} #sort-col{{ i }} {% endfor %} { display: none; }


input[type="radio"], input[name="deleter"] {
	display: none;
}
.sortHolder {
	background: white;
}

.frac {
	padding-left: 2px;
	font-size:.9rem;
}
{% endblock %}

{% block bodyStart %}
	<input type="radio" name="radio100" id="radio000" checked></input>
	{% for i in range(1,10) %}
	<input type="radio" name="radio100" id="radio{{ i}}00"></input>
	{% endfor %}

	<input type="radio" name="radio10" id="radio00" checked></input>
	{% for i in range(1,10) %}
	<input type="radio" name="radio10" id="radio{{ i}}0"></input>
	{% endfor %}
	
	<input type="radio" name="radio1" id="radio0" checked></input>
	{% for i in range(1,10) %}
	<input type="radio" name="radio1" id="radio{{ i}}"></input>
	{% endfor %}
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		Options
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}

<div>
	Min {{ minstat }}:
	<div>
		<div id="hundredsColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}00">{{i}}</label>
			{% endfor %}
		</div>
		<div id="tensColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}0">{{i}}</label>
			{% endfor %}
		</div>
		<div id="onesColumn">
			{% for i in range(0,10) %}
				<label for="radio{{ i }}">{{i}}</label>
			{% endfor %}
		</div>
	</div>
</div>
<form  action="../sortable.html" method="get">
	<select name="p">
		<option value="false">Batters</option>
		<option value="true">Pitchers</option>
	</select>
	<input name="y" type="number" min="1871" max="2019" value="2019"></input>
	<button type="submit">Submit</button>
</form>
{% endblock %}	

{% block title13 %}

{% endblock %}
{% block content13 %}

{% endblock %}	

{% block title31 %}

{% endblock %}
{% block content31 %}
{% endblock %}




{% block content22 %}
	<input type="radio" name="sorterDirection" id="sort-ascending" checked></input>
	<input type="radio" name="sorterDirection" id="sort-descending"></input>

	<input type="radio" name="pageNumber" id="page1" checked></input>
	<input type="radio" name="pageNumber" id="page2"></input>
	<input type="radio" name="pageNumber" id="page3"></input>
	<input type="radio" name="pageNumber" id="page4"></input>
	<input type="radio" name="pageNumber" id="page5"></input>
	
	<div class="tableHolder">
		{% for i in range(1,ncols+1) %}
				<input type="checkbox" name="deleter" id="delete-col{{ i }}"></input>
		{% endfor %}
		
		<div class="sortable-header">
			{% for i in range(1,ncols+1) %}<label class="header-cell sortable-col{{ i }}" for="sort-col{{ i }}"><b>{{ header[i-1] | safe}}</b></label><label class="deleteColumn header-cell sortable-col{{ i }}" for="delete-col{{ i }}"></label>{% endfor %}
		</div>
	
		<div class="sortHolder">
			<div class="sortable">
			
			
				
				{% for i in range(1,ncols+1) %}
				<input type="radio" name="sorter" id="sort-col{{ i }}" {% if i == 4 %}checked{% endif %}></input>
				{% endfor %}
		
				{% for ii in range(1,nrows+1) %}
					<div class="sortable-row{{ ii }} {{ minList[ii-1]}}">{% for i in range(1,ncols+1) %}<div class="data-cell sortable-col{{ i }} ">{{ content[ii-1][i-1] | safe}}</div>{% endfor %}</div>
				{% endfor %}


			</div>
		</div>
	</div>
	<div>
		<span style="float: left;">
			
			Sort Order: 
			<label for="sort-ascending" class="basic">Descending</label>
			<label for="sort-descending" class="basic">Ascending</label>
		</span>
		<span style="float: right;">
			Page: 
			<label for="page1" class="basic">1</label>
			<label for="page2" class="basic">2</label>
			<label for="page3" class="basic">3</label>
			<label for="page4" class="basic">4</label>
			<label for="page5" class="basic">5</label>
		</span>
	</div>
{% endblock %}





{% block scripts %}

{% endblock %}






