
{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 30rem;
	--width-center: 50rem;
{% endblock %}

{% block titleCSS %}
.title {
	line-height: 2.5rem;
	text-align: center;
	font-size: 1rem;
	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	top:-2px;
  	left:-2px;
  	width: calc(100% + 0px);
  	background: red;
  	background-image: url("../img/farmbg2-40.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	color: white;
  	text-shadow: 0px 0px 10px black;
}
.titleBG {
	background-image: url("../img/ftractor-40.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	background-position: 0px 0px;
  	transition: background-position 1s linear;
}
.titleBG:hover {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}


{% endblock %}


{% block moreCSS %}

.content-11 {
	grid-row: 1 / 3;
}
.content-13 {
	display: none;
}
.content-22 {
	overflow: visible;
}
.content-31 {
	display: none;
}
.content-33 {
	display: none;
}
.content-23 {
	display: none;
}
.container {
	grid-template-rows: calc((var(--height-container) - var(--height-center))) var(--height-center) 0px;
	grid-template-columns: calc((var(--width-container) - var(--width-center))) var(--width-center) 0px;
}

.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}


.sortable {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  margin: 0 0 3em 0;
  padding: 0;
}


{% for i in range(1,ncols) %} .sortable-col{{ i }}, {% endfor %}{% for i in range(ncols,ncols+1) %} .sortable-col{{ i }} {% endfor %} {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;  // Default to full width
  padding: 0.2em .4em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid 1px black;
  border-bottom: solid 1px black;
  border-top: solid 0px;
  background: fade(slategrey,20%);
}


.sortable-col1  { 
	width: 6rem;
	text-align: left;
	padding: 0px 2px; border-right: 0px solid black; border-left: 0px solid black;
	max-height: 1.5rem;
	overflow: hidden;
}

.sortable-col2  { 
	width: 3rem;
	text-align: left;
	padding: 0px 2px; border-right: 0px solid black; border-left: 0px solid black;
	max-height: 1.5rem;
	overflow: hidden;
}


{% for i in range(2,ncols+1) %}
	.sortable-col{{ i }}  { width: calc( (100% - 9rem)/{{ ncols - 2}}); text-align: right; padding: 0px 2px; border-right: 0px solid black; border-left: 0px solid black; max-height: 1.5rem; overflow: hidden;}
{% endfor %}

.sortable-header  { 
	width: 100%;
	padding: 0px;
	background: white;
}

{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}00:checked ~ .min-{{ i }}00  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}0:checked ~ .min-{{ i }}0  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,10) %}
	{% for ii in range(i,10) %}
		#radio{{ ii }}:checked ~ .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(10,100) %}
	{% set r = i%10 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-r)/10) }}0:checked ~ #radio{{ ii }}:checked ~ .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(10,100) %}
	{% set r = i%10 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-r)/10) }}00:checked ~ #radio{{ ii }}0:checked ~ .min-{{ i }}0  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(100,1000) %}
	{% set r = i%10 %}
	{% set rr = i%100 %}
	{% for ii in range(r,10) %}
		#radio{{ ((i-rr)/100) }}00:checked ~ #radio{{ ((i-r)/10) % 10 }}0:checked ~ #radio{{ ii }}:checked ~ .min-{{ i }}  { display: none;}
	{% endfor %}
{% endfor %}

{% for i in range(1,nrows+1) %}
	.sortable-row{{ i }}  { order: {{ i }}; flex-grow: 1; width: 100%; padding: 0px; height: 1.5rem;}
{% endfor %}

{% for i in range(1,ncols+1) %}
	{% for ii in range(1,nrows+1) %}
		{% if order[i-1][ii-1] == -1 %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { display: none; }
		{% else %}
		#sort-col{{ i }}:checked ~ .sortable-row{{ ii }} { order: {{ order[i-1][ii-1] }}; }
		{% endif %}
	{% endfor %}
{% endfor %}
.sortHolder{
	overflow: hidden;
	height: 24rem;
}
.sortable {
	top: 0rem;
	position: relative;
	overflow: visible;
}
#page1:checked ~ .sortHolder .sortable {
	top: 0rem;
}
#page2:checked ~ .sortHolder .sortable {
	top: -24rem;
}
#page3:checked ~ .sortHolder .sortable {
	top: -48rem;
}
#page4:checked ~ .sortHolder .sortable {
	top: -72rem;
}
#page5:checked ~ .sortHolder .sortable {
	top: -96rem;
}
#sort-ascending:checked ~ .sortHolder .sortable {
	flex-direction: column;
}
#sort-descending:checked ~ .sortHolder .sortable {
	flex-direction: column-reverse;
}

label.basic {
	color: #fff !important;
	text-decoration: none;
	background: #aa2233;
	padding: .4rem .8rem;
	border-radius: .6rem;
	border: 1px solid black;
	margin: .2rem 0rem;
	transition: all 0.4s ease 0s;
	font-size: 1rem;
	line-height: 2rem;
	height: 2rem;
}
label.basic:hover {
	background: #662222;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

#page1:checked ~ div > span > label[for="page1"] {
	background: #22aa33;
}
#page2:checked ~ div > span > label[for="page2"] {
	background: #22aa33;
}
#page3:checked ~ div > span > label[for="page3"] {
	background: #22aa33;
}
#page4:checked ~ div > span > label[for="page4"] {
	background: #22aa33;
}
#page5:checked ~ div > span > label[for="page5"] {
	background: #22aa33;
}

#sort-ascending:checked ~ div > span > label[for="sort-ascending"] {
	background: #22aa33;
}
#sort-descending:checked ~ div > span > label[for="sort-descending"] {
	background: #22aa33;
}



{% for i in range(1,ncols) %} #sort-col{{ i }}, {% endfor %}{% for i in range(ncols,ncols+1) %} #sort-col{{ i }} {% endfor %} { display: none; }


input[type="radio"] {
	display: none;
}
.sortHolder {
	background-image: url("../img/tablebgtall.png");
  	background-size: 100% 500px;
  	background-repeat: no-repeat;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Options</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
Year, batters or pitchers, min PA
	<div>
		{% for i in range(0,10) %}
			<label for="radio{{ i }}00">{{i}}00</label>
		{% endfor %}
	</div>
	<div>
		{% for i in range(0,10) %}
			<label for="radio{{ i }}0">{{i}}0</label>
		{% endfor %}
	</div>
	<div>
		{% for i in range(0,10) %}
			<label for="radio{{ i }}">{{i}}</label>
		{% endfor %}
	</div>
{% endblock %}	

{% block title13 %}

{% endblock %}
{% block content13 %}

{% endblock %}	

{% block title31 %}

{% endblock %}
{% block content31 %}
{% endblock %}

{% block title33 %}

{% endblock %}
{% block content33 %}
{% endblock %}


{% block content22 %}
	<input type="radio" name="sorterDirection" id="sort-ascending" checked></input>
	<input type="radio" name="sorterDirection" id="sort-descending"></input>

	<input type="radio" name="pageNumber" id="page1" checked></input>
	<input type="radio" name="pageNumber" id="page2"></input>
	<input type="radio" name="pageNumber" id="page3"></input>
	<input type="radio" name="pageNumber" id="page4"></input>
	<input type="radio" name="pageNumber" id="page5"></input>
	
	
	
	<div class="sortable-header">
		{% for i in range(1,ncols+1) %}<label class="sortable-col{{ i }}" for="sort-col{{ i }}">{{ header[i-1] }}</label>{% endfor %}
	</div>
	<div class="sortHolder">
		<div class="sortable">
			
			<input type="radio" name="radio100" id="radio000" checked></input>
			{% for i in range(1,10) %}
			<input type="radio" name="radio100" id="radio{{ i}}00"></input>
			{% endfor %}
	
			<input type="radio" name="radio10" id="radio00" checked></input>
			{% for i in range(1,10) %}
			<input type="radio" name="radio10" id="radio{{ i}}0"></input>
			{% endfor %}
			
			<input type="radio" name="radio1" id="radio0" checked></input>
			{% for i in range(1,10) %}
			<input type="radio" name="radio1" id="radio{{ i}}"></input>
			{% endfor %}
			
			{% for i in range(1,ncols+1) %}
			<input type="radio" name="sorter" id="sort-col{{ i }}" {% if i == 1 %}checked{% endif %}></input>
			{% endfor %}
		
			{% for ii in range(1,nrows+1) %}
				<div class="sortable-row{{ ii }} {{ minList[ii-1]}}">{% for i in range(1,ncols+1) %}<div class="sortable-col{{ i }} ">{{ content[ii-1][i-1] | safe}}</div>{% endfor %}</div>
			{% endfor %}


		</div>
	</div>
	<div>
		<span style="float: left;">
			Sort Order: 
			<label for="sort-ascending" class="basic">Descending</label>
			<label for="sort-descending" class="basic">Ascending</label>
		</span>
		<span style="float: right;">
			Page: 
			<label for="page1" class="basic">1</label>
			<label for="page2" class="basic">2</label>
			<label for="page3" class="basic">3</label>
			<label for="page4" class="basic">4</label>
			<label for="page5" class="basic">5</label>
		</span>
	</div>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}






