{% macro arithmetic() %}
<span class="arithmetic">
{% for ii in range(1,7) %}
	{% for i in range(0,4) %}
	<input type="radio" name="t{{ii}}" id="t{{ii}}-{{i}}" {% if i==0 %}checked{% endif %}/>
	<input type="radio" name="b{{ii}}" id="b{{ii}}-{{i}}" {% if i==0 %}checked{% endif %}/>
	{% endfor %}
{% endfor %}
{% for ii in range(1,7) %}
	{% for i in range(0,4) %}
	<label for="t{{ii}}-{{i}}" class="top d{{ii}}">{{i}}</label>
	<label for="b{{ii}}-{{i}}" class="bottom d{{ii}}">{{i}}</label>
	{% endfor %}
{% endfor %}

{# results #}
{% for ii in range(1,7) %}
	{% for iii in range(1,7) %}
		<span class="out out{{iii}} d{{ii}}">
			<span>{% for i in range(0,9) %}{{i}}</span><span>{% endfor %}{{9}}</span>
		</span>
	{% endfor %}
{% endfor %}
{% for ii in range(1,12) %}
	<span class="out outsum d{{ii}}">
		<span>{% for i in range(0,54) %}{{i}}</span><span>{% endfor %}{{54}}</span>
	</span>
{% endfor %}
{% for ii in range(1,14) %}
	{% for i in range(-20,21) %}
	<input type="radio" name="s{{ii}}" id="s{{ii}}-{{i}}" {% if i==0 %}checked{% endif %}/>
	{% endfor %}
{% endfor %}
{% for ii in range(1,14) %}
	{% for i in range(-20,21) %}
	<label for="s{{ii}}-{{i}}" class="shift up d{{ii}}">+</label>
	<label for="s{{ii}}-{{i}}" class="shift down d{{ii}}">-</label>
	{% endfor %}
{% endfor %}
{% for ii in range(1,14) %}
	<span class="out outuni d{{ii}}">
		<span>{% for i in range(-54,54) %}{{i}}</span><span {% if i > -2 and i < 3 %}class="good"{% endif %}>{% endfor %}{{54}}</span>
	</span>
{% endfor %}
	<span class="complex top"></span>
	<span class="complex bottom"></span>
	<span class="complex answer"></span>
</span>
{% endmacro %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      

    <meta name="description" content=".">    <title>CSShole</title>  
    <link rel="icon" type="image/png" href="../chfaviconcrop.png">

<link rel="stylesheet" href="../css/arithmetic.css"/>
<style>
.main {
	width: 50%;
	max-width: 36rem;
	margin-left: 20%;
}

.sidecontainer {
	position: relative;
	display: inline-block;
	
	width: 67%;

}



.side {
	height: calc(100% - 2rem);
	top:1rem;
	border: 0px solid black;
	display: inline;
	float: right;
	width: 25vw;
	margin-left: calc(100% + 2rem);
	font-size: 16px;
	position: absolute;

}
.sidetext {
	position: sticky;
	margin-top: 0rem;
	top:10rem;
	
	display: block;
	background: white;
}

.sidetext img {
	max-height: 100%;
	max-width: 100%;
}

.fullcontainer {
	position: relative;
	display: inline-block;
	
	width: 120%;

}


.fulltext {
	position: sticky;
	display: block;
	margin-top: 0rem;
	top:0rem;
	background: white;
	padding-bottom: .5rem;
	
}

.fulltext img {
	max-height: 10rem;
	max-width: 100%;
}

p {
	line-height: 150%;
	font-size: 110%;
	background: white;
}
</style>

</head>
<body>

	<div class="main">
		<p>Programming in CSS is incredibly limiting. Javascript and other scripting languages allow a developer to do anything they want. Knowing how everything in a program is unnecessary. Reaching for the best way is unnecessary. Creativity is unnecessary.</p>
		<p>For many students, the most annoying part of arithmetic is carrying or borrowing from one place to another. When creating a calculator with just CSS, keeping track of carried digits made the code too unwieldy. Thus I investigated ways to avoid the issue. </p>
		<p>Creating a binary addition algorithm is really simple. Just count the number of 1s in each place. The difficulty is then converting that number to just 1s and 0s so that it is an acceptable binary number. We just repeatedly change the appearance of the number while producing equivalent values.</p>
		<p>Decreasing one digit by 2 while increasing its neighbor to the left by 1 does not change the value of the number. Similarly, in a base-10 system we would decrease by 10 while increasing by 1 to the left. We can allow the user to perform this simple step of conversion.</p>
		<p>Delaying the act of carrying digits really simplifies multiplication. Normally, multiplication is constantly switching between multiplication, carrying digits, and addition. If we know how to multiply numbers less than 10 then we can just place them into the correct places and then add them without any carries. At the end we get a number where the digits could be much larger than 10, but the result will be equivalent to the correct base-10 answer.</p>
		<p>What about subtraction? Subtraction can be done the same way as addition. Subtract each digit and then convert at the end. Some digits might be less than 0. We would need to add 10 to these digits and decrease its left neighbor by 1 to maintain equivalence. or we can use a base that negative numbers differently.</p>
		<p>What would arithmetic look like if the base is a negative number? In a base (-10) system our addition and multiplication algorithms are the same. The only difference is the conversion step at the end. If a digit is greater than 10 then we subtract 10 from that digit and also <b>subtract</b> 1 from its neighbor to the left.</p>
		<p>Every integer (positive, negative, and 0) can be uniquely represented in a base (-10) system with digits from 0-9. Treating the rightmost column (before the decimal point) as the 0th column, then the odd columns are multiplied by negative numbers and the even columns are positive. Thus multiplying positive digits remains in even columns and thus positive, but multiplying negative digits shifts to even columns where they become positive. Multiplying positive by negative then becomes negative.</p>
		<p>For someone who is used to base 10 the act of subtracting 1 when subtracting 10 from the right is hard to remember. But computers can easily do this every time. By using a negative base we don't have to ever subtract or remember that multiplying 2 negatives becomes a positive. However, finding the additive inverse means multiplying by 19 (the equivalent of -1). </p>
		<p>We have determined that a small change to our method of converting can have interesting results. What if reducing one digit by 4 means needing to reduce the digit two places to the left by 1. This system is kind of like base (-4) but offset by two places instead of one. Like base 4 we will use just the digits from 0-3. </p>
		<span class="sidecontainer">
		<span class="side"><span class="sidetext">{{ arithmetic() }}</span></span>
		<p>Addition and multiplication are the same. Only at the end do we use our modified conversion process.</p>
		<p>If you successfully multiplied two numbers, then you have performed complex multiplication. By shifting two places, we have created a base (-2i) number system. If we add one place past the decimal, then every Gaussion integer can be uniquely represented by the digits 0-3. Also any numbers with imaginary part having denominator 2.</p>
		</span>
		<p>We can see that multiplying two imaginary numbers becomes a real number because they occupy odd columns. The rotations happen naturally. </p>
		<p>What if instead of subtracting 1 we subtract 2 every time we add/subtract 3? What about shifting three places when converting? What are some advantages of a base (-2i) system? What are some disadvantages? Why haven't I talked about division?</p>
		<p></p>
		<p></p>
		<p>Using CSS to add any complex interactivity to a website is an incredibly frustrating process. I do not recommend it. If you enjoy the prospect of limiting yourself in hopes of unlocking some latent creativity, then maybe you'll find something interesting. Or maybe you can limit yourself in another way. Do research without Google and/or wikipedia.  </p>
		<p></p>
		<p></p>
		<p>Complex Binary arithmetic</p>
		<p>Color arithmetic</p>
		<p>Resizing</p>
		<p>CSS stands for cascading style sheets, and the cascading nature of the language makes "programming" incredibly difficult. Information can usually only pass in one direction: down to an element's children and later siblings.</p>
		<p>CSS has no memory. Each bit of information requires a checkbox. </p>
		<p></p>
		<p>Why are computers so good at math? Memory, reliability, and speed. If you want to teach a computer how to do math then it makes sense to take advantage of these skills. Why limit yourself to the weaknesses of humans who make errors, have limited memory, and can only do a few operations each minute? </p>
		<p>If the goal is actually to teach humans how to do math, then creating a computer that emulates humans (errors and all) as closely as possible is ideal. Why are humans so good at math? Patterns.</p>
		<p>Teaching a computer to identify the most important part of a complex expression is not a simple task.</p>
		<p></p>
		
		
		<hr>

<span class="sidecontainer">
<span class="side"><span class="sidetext"><img src="arrow.png" /></span></span>
<p>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
</p>
</span>




<span class="sidecontainer">
<span class="side"><span class="sidetext">Sidenote 2 should be even longer to get next line.</span></span>
<p>1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</p>
<p>1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</p>
</span>





<p>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"At vero eos et corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
</p>



<span class="fullcontainer">
<span class="fullnote"><span class="fulltext"><img src="arrow.png" /></span></span>
<p>1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</p>
<p>1914 translation by H. Rackham
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</p>
</span>



<p>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
</p>
<p>1914 translation by H. Rackham
"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
</p>
	</div>

</body>
</html>










