{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: calc(var(--width-block) * 12);
	--width-center: calc(40px + var(--width-block)*9);
{% endblock %}

{% block titleCSS %}



{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/sudokucss.css">
{% endblock %}

{% block moreCSS %}
.title a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.title label:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px black 0px 0px 10px black;
}
.content-33 .title {
	background-image: url("../img/headerbgwide.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
}

.content-33 {
	grid-column: 2;
	grid-row: 3;
	z-index: 11;
}
.content-13 {
	display: none;
}
.content-31 {
	display: none;
}
.content-11 {
	display: none;
}
.container {
	--height-container: calc(var(--width-block) * 12 + 12rem);
	height: var(--height-container);
	margin: .5rem auto;
	grid-template-rows: 0px var(--height-center) calc((var(--height-container) - var(--height-center)));
}

html, body {margin: 0; height: 100%; overflow: hidden}

{% for i in range(1,10) %}
	{% for rowI in range(1,10) %}
		{% for colI in range(1,10) %}
			{% if puzzle[rowI-1][colI-1] == i %}
				.row{{ rowI }}{{ i }}.col{{ colI }}{{ i }} + .check{{ i }} {z-index: 250 !important;color: black;}
				.grow{{ rowI }}{{ i }}.gcol{{ colI }}{{ i }} + .gcheck{{ i }} {z-index: 260 !important;color: black;background: white !important;}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}

{% for i in range(1,10) %}
	.cmark{{i}} {
		background: white;
	}
	.radioB:checked + .cmark{{i}} {
		background-image: url("../img/headerbg.png");
  		background-size: 100% 100%;
  		background-repeat: no-repeat;
  		color: white;
	}
{% endfor %}
{% endblock %}


{% block title33 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a>Menu</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
		  <div>
		  {% if gametype == 'daily' %}
		  	<a href="../sudoku.html?d={{ gameid }}" class="basic">Previous Puzzle</a>
		  {% else %}
		  	<a href="../sudoku.html?l={{ gametype }}{{ gameid + 1}}" class="basic">Next Puzzle</a>
		  {% endif %}
		  </div>
		  <div>
		  	<a href="../" class="basic">Home</a><a href="../sudokufarm.html" class="basic">Sudoku Farm</a>
		  </div>
{% endblock %}	



{% block content22 %}
	<div style="position: relative; font-family: sans-serif;">


		{% for i in range(1,10) %}
		<label class="container">
		  <input type="radio" checked="checked" name="radio" style="display:none;" class="radioB" accesskey="{{ i }}">
		  <span class="cmark{{ i }} normBlock cmarkAll">{{ i }}</span>
  
		  <span class="sudoku{{ i }} sudokuAll">
		  {% for rowI in range(1,10) %}
			{% for colI in range(1,10) %}<input type="checkbox" style="display:none;" class="row{{ rowI }}{{ i }} col{{ colI }}{{ i }} box{{(((colI-1)-((colI-1)%3)) / 3) + 3*(((rowI-1)-((rowI-1)%3)) / 3) + 1 }}{{ i }}" id="cell{{ i }}{{ rowI }}{{ colI }}" {% if puzzle[rowI-1][colI-1] == i %}checked{% endif %}><label for="cell{{ i }}{{ rowI }}{{ colI }}" class="col{{ colI }} row{{ rowI }} check{{ i }} normBlock">{{ i }}</label>{% endfor %}
			<br />
		  {% endfor %}
		  {% for rowI in range(1,10) %}
			{% for colI in range(1,10) %}<input type="checkbox" style="display:none;" class="grow{{ rowI }}{{ i }} gcol{{ colI }}{{ i }} gbox{{(((colI-1)-((colI-1)%3)) / 3) + 3*(((rowI-1)-((rowI-1)%3)) / 3) + 1}}{{ i }}" id="gcell{{ i }}{{ rowI }}{{ colI }}"><label for="gcell{{ i }}{{ rowI }}{{ colI }}" class="col{{ colI }} row{{ rowI }} gcheck{{ i }} normBlock">{{ i }}</label>{% endfor %}
			<br />
		  {% endfor %}
		  <span class="blackout{{ i }} normBlock blackoutAll">{{ i }}</span>

		  
		  <span class="nowinmessage">
		  </span>
		  <span class="winmessage">Great job, you beat the game!</span>

		  </span>
		</label>
		{% endfor %}


	</div>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

