{% extends "templates/base.html" %}

{% block meta %}
    <meta name="description" content=".">    <title>TripleLog</title>  
    <link rel="icon" type="image/png" href="../tlfavicon.png">
{% endblock %}
    
{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 8rem;
	--width-center: 9rem;
{% endblock %}

{% block titleCSS %}

.title:hover .titleBG {
  	background-position: 350px 0px;
  	transition: all 2s linear;
}
.titleBG {
  	background-position: -50px 0px;
  	transition: all 2s linear;
}
.content-11 .title {
	background-image: url("../img/farmbg2-40.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
}
.content-11 .titleBG {
	background-image: url("../img/ftractor-40.png");
  	background-size: auto 100%;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 100%;
}
.content-13 .title {
	background: rgb(228,242,228);
	background-image: url("../img/gifsawheader.png");
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.content-31 .title {
	background-image: url("../qblurheaderrotate.png");
	background-size: 100% 100%;
}
.content-33 .title {
	background: rgb(228,242,228);
	background-image: url("../chheadertrans.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

.content {
	text-align: center;
}

div:Not(.content-22) > .content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	padding: calc(.75 * var(--border-radius));
	font-size: 1.1rem;
}
div:Not(.content-22) > .title a{
	font-size: 1.75rem;
}

.logoText {
	width:10rem;
	left:-1rem;
	position:relative;
	top:2rem;
	display: inline-block;
	 height: 4rem; 
	 line-height: 4rem; 
	 color: white;
	 font-size: 2.5rem; 
	 text-align: center;
	 text-shadow: 0px 0px 5px black, 0px 0px 10px rgb(64,64,64), 0px 0px 20px gray;
	 font-family: Tahoma, Geneva, sans-serif;
	 letter-spacing: 2px;
}
.logoDiv {
	height: 8rem;
}
.logoDiv img {
	width:9rem;
	left:-1rem;
	position: absolute;
}
.logoText {
	width:12rem;
	left:-1.5rem;
	top:1.5rem;
}
.centerLink button.basic {
	font-size:1rem;
	padding: .3rem .5rem;
}

@media screen and (max-width: 840px) {
	div.container {
		--border-radius: 1rem;
		--height-center: 6rem;
		--width-center: 7rem;
	}
	.logoDiv img {
		width:6rem;
		left:-1rem;
	}
	.logoText {
		width:12rem;
		left:-2.5rem;
		top:1.5rem;
	}
	.title {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 720px) {
	div.container {
		--border-radius: 1rem;
		--height-center: 5rem;
		--width-center: 5rem;
	}
	.logoDiv img {
		width:5rem;
		left:-.5rem;
	}
	.logoText {
		width:12rem;
		left:-3.5rem;
		top:.5rem;
	}
	.title {
		font-size: 1rem;
	}
	div:Not(.content-22) > .content {
		font-size: 1rem;
	}
	div.container .titleRight i {
		top: 0rem;
	}
}
@media screen and (max-width: 600px) {
	div.container {
		--border-radius: 1rem;
		--height-center: 9rem;
		--width-center: 9rem;
	}
	.logoDiv img {
		width:12rem;
		left:-3.5rem;
	}
	.logoText {
		width:12rem;
		left:-1.5rem;
		top:2.5rem;
	}
	.title {
		font-size: 1rem;
	}
	div:Not(.content-22) > .content {
		font-size: 1rem;
	}
}
{% endblock %}


{% block moreCSS %}

{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Sudoku Farm</a>
	</span>
	<span class="titleRight">
	</span>
	
</div>
{% endblock %}
{% block content11 %}
<a href="https://sudokufarm.com">Sudoku Farm</a> combines classic Sudoku puzzles with a strategy game.
Play in browser or download for iOS. Generate your own levels with custom icons and resource profiles.
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">Gifsaw</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content13 %}
Create jigsaw puzzles from any image or gif with <a href="https://gifsaw.com">Gifsaw</a>. 
Complete them yourself, collaboratively, or competitively. You can even design your own scoring system to challenge your friends or the world.
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">QbluR</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31 %}
Experiment with images and color using <a href="https://qblur.com">QbluR</a>. Easily create customizable <a href="https://qblur.com/gradient">gradients</a>, <a href="https://qblur.com/filter">filters</a>, and <a href="https://qblur.com/overlay">overlays</a>.
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">
	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://csshole.com">CSShole</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content33 %}
<a href="https://csshole.com">CSShole</a> is a showcase for interactive content generated with just HTML and CSS. Play <a href="https://csshole.com/sudoku.html">Sudoku</a>, view baseball <a href="https://csshole.com/sortable.html">stats</a>, or test your knowledge of <a href="https://csshole.com/mathquiz.html">trigonometry</a>.
{% endblock %}


{% block content22 %}
	<div class="logoDiv">
		<img src="../tripleloglogo.png">
		<span class="logoText">TripleLog</span>	
	</div>
	<!--<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>-->
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">About</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../privay';">Privacy Policy</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../terms';">Terms</button>
	</div>


{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

